.container {
    position: relative;
    width: 100%;
    max-width: 768px; // Max frame size
    height: 100%;
    margin: 0 auto;

    &.withScroll {
        overflow-y: scroll;
    }

    &.hidden {
        // opacity: 0;
    }
}
