/* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */

@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.item {
    + .item {
        margin-top: 0.5rem;
    }
}

.shareButton {
    @extend %reset-button;
    display: block;
    width: 100%;
    position: relative;
}

.shareButtonInner {
    display: flex;
    align-items: center;
    text-align: left;
    color: $white;
    background-color: $black;
}

.label {
    display: block;
    flex-grow: 1;
    padding: 0.5rem 0.25rem;
    font-weight: normal;
}

.successfulCopyMessage {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.25rem 0.5rem;
    transform: translate(-50%, 100%);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    border: 1px solid currentColor;
    border-radius: 0.5rem;
    opacity: 0;
    background-color: $white;
    line-height: 1;
    white-space: nowrap;
    pointer-events: none;

    .isLinkCopied & {
        transform: translate(-50%, 75%);
        opacity: 1;
    }
}
