/* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */

@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.item {
    + .item {
        margin-top: 0.5rem;
    }
}

.shareButton {
    @extend %reset-button;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 400;
    color: $white;
    background-color: $black;

}

.label {
    display: block;
    flex-grow: 1;
    padding: 0.5rem 0.25rem;
}

.shareUrl {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.85rem;
    background-color: rgba($white, 0.1);
    border-radius: 4px;
    font-family: monospace;

    .isLinkCopied & {
        animation: bump 0.5s 1 $ease-in-out-sine alternate-reverse forwards;
    }
}

@keyframes bump {
    to {
        transform: scale(1.2);
    }
}

