.item {
    + .item {
        margin-top: 0.5rem;
    }
}

.button {
    position: relative;
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    color: var(--mm-white, #fff);
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transform-origin: 0 50%;
    transition: transform 0.3s var(--mm-ease-out-ramp);

    @media (hover: hover) {
        &:hover {
            .icon,
            .label {
                transform: scale(1.05);
                transition: transform 0.3s var(--mm-ease-in-yo);
            }
        }
    }

    &:active,
    &:focus {
        .icon,
        .label {
            transform: scale(1.05);
            transition: transform 0.3s var(--mm-ease-in-kickback);
        }
    }

    &:focus-visible {
        box-shadow: 0 0 2px 2px var(--micromag-focus-color, #fff);
    }
}

/* @note there is repetition from the styles used in Button & IconButton from the Viewer package */
.icon {
    position: relative;
    display: block;
    flex-shrink: 0;
}

.icon,
.spacer {
    width: 45px;
    height: 100%;
}

.icon,
.label {
    transition: transform 0.3s var(--mm-ease-out-ramp);
}

.label {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    margin-right: 0.25em;
    margin-left: 0.25em;
    font-size: inherit;
    line-height: 1;
    transform-origin: center;
}

.labelText {
    flex-shrink: 0;
    margin-right: 0.25em;
    margin-left: 0.25em;
}
