/* stylelint-disable max-nesting-depth */

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        z-index: 1;
    }

    .heading {
        margin-bottom: 10px;
    }
}

.layout {
    overflow: hidden auto;
    padding: 10px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
    display: none;
    }
}

.shareOptions {
    &.isCentered {
        justify-content: center;
    }
}

.shareButton {
    display: flex;
    width: 100%;
}

.emptyHeading,
.emptyOptions {
    width: 100%;
    padding: 10px;
    border: dashed 2px var(--mm-gray-800);
    margin: 10px auto;
    color: var(--mm-gray-800);
}

.emptyOptions {
    padding: 40px;
}

.header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}
