// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .content {
        z-index: 1;
    }

    .heading {
        margin-bottom: 10px;
    }
}

.layout {
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.shareOptions {
    &.isCentered {
        justify-content: center;
    }
}



.shareButton {
    display: flex;
    width: 100%;
}

.emptyHeading,
.emptyOptions {
    @extend %empty;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}

.emptyOptions {
    padding: 40px;
}

.header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}
