// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
}

.layout {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.shareOptions {
    margin-top: 10px;

    &.isCentered {
        justify-content: center;
    }
}

.shareButton {
    display: flex;
    width: 100%;
}

.emptyHeading,
.emptyOptions {
    @extend %empty;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}

.emptyOptions {
    padding: 40px;
}
