// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
}

.layout {
    .isPlaceholder & {
        padding: 10px;
    }
}

.shareOptions {
    &.isCentered {
        justify-content: center;
    }
}

.shareLabel {
    display: none; // @todo: later on, we'll offer styling options for the label
}

.emptyHeading,
.emptyOptions {
    @extend %empty;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}

.emptyOptions {
    padding: 40px;
}
