// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

@keyframes appear {
    from  {
        transform: scale(0);
        opacity: 0;
    }
    to {        
        transform: scale(1);
        opacity: 1;
    }
}

.container {
    position: relative;
    transition: opacity 0.3s ease;
    opacity: 1;
    text-align: center;

    .arrow {
        animation: upAndDown 0.5s ease-in-out infinite alternate;
    }

    .label {
        display: block;
    }

    .button {
        width: 100%;
        padding: 20px 0;
        touch-action: none;
        -webkit-user-drag: none;
        user-select: none;

        &:hover {
            text-decoration: none;
        }
    }

    .selfTargetLink {
        display: none;
    }

    .leavingFrame {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: scale(0);        
        animation: appear 0.5s ease both;
        opacity: 0;
        background-color: #FFF;
    }

    &.animationDisabled {
        .arrow {
            animation: none;
        }
    }

    &.invalidUrl {
        opacity: 0.5;
        pointer-events: none;

        .arrow {
            animation: none;
        }
    }

    &.disabled {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes upAndDown {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(25%);
    }
}
