// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

@keyframes appear {
    from {
        transform: scale(0);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.container {
    position: relative;
    z-index: 100;
    transition: opacity 0.3s ease;
    opacity: 1;
    text-align: center;

    .arrow {
        display: block;
        margin: 0 auto 3px;
        animation: upAndDown 0.5s ease-in-out infinite alternate;
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }

    .label {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
    }

    .button {
        display: block;
        margin: 0 auto;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0);
        user-select: none;
        touch-action: none;
        -webkit-user-drag: none;

        // Sometimes CKEditor adds a block element nested inside the badge
        * {
            display: inline;
        }

        &.withoutLinkStyle {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }

        &:focus {
            box-shadow: 0 0 2px 2px var(--micromag-focus-color, #fff);
        }
    }

    .selfTargetLink {
        display: none;
    }

    .leavingFrame {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: scale(0);
        animation: appear 0.5s ease both;
        opacity: 0;
        background-color: #fff;
    }

    &.animationDisabled {
        .arrow {
            animation: none;
        }
    }

    &.invalidUrl {
        opacity: 0.5;
        pointer-events: none;

        .arrow {
            animation: none;
        }
    }

    &.withMargin {
        margin-bottom: 5px;
    }
}
