// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;    
    transition: opacity .3s ease;
    opacity: 1;   
    text-align: center;
    
    .arrow {
        animation: upAndDown 0.5s ease-in-out infinite alternate;
    }

    .label {
        display: block;
    }

    .button {
        width: 100%;
        padding: 20px 0;
        touch-action: none;
        -webkit-user-drag: none;
        user-select: none;

        &:hover {
            text-decoration: none;
        }
    }

    .currentTargetLink {
        display: none;
    }

    &.animationDisabled {
        .arrow {
            animation: none;
        }
    }

    &.invalidUrl {
        opacity: 0.5;
        pointer-events: none;

        .arrow {
            animation: none;
        }
    }

    &.disabled {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes upAndDown {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(25%);
    }
}