/* stylelint-disable max-nesting-depth */
@keyframes appear {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container {
    position: relative;
    z-index: 100;
    opacity: 1;
    text-align: center;
    transition: opacity 0.3s ease;

    .arrow {
        display: block;
        margin: 0 auto 3px;
        animation: upAndDown 0.5s ease-in-out infinite alternate;
    }

    .button {
        display: block;
        padding: 5px 10px;
        margin: 0 auto;
        background-color: rgb(0 0 0 / 0);
        touch-action: none;
        -webkit-user-drag: none;
        user-select: none;

        &.withoutLinkStyle {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }

        &:focus {
            box-shadow: 0 0 2px 2px var(--mm-focus-color, #fff);
        }
    }

    .label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .icon {
        display: block;
    }

    .text * {
        display: inline;
    }

    .selfTargetLink {
        display: none;
    }

    .leavingFrame {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        animation: appear 0.5s ease both;
        background-color: #fff;
        opacity: 0;
        transform: scale(0);
    }

    &.animationDisabled {
        .arrow {
            animation: none;
        }
    }

    &.invalidUrl {
        opacity: 0.5;
        pointer-events: none;

        .arrow {
            animation: none;
        }
    }

    &.withMargin {
        margin-bottom: 5px;
    }
}
