.container {
    position: relative;
    overflow: hidden;

    .videoContainer {
        position: absolute;
        overflow: hidden;
    }

    .videoTag {
        pointer-events: auto;
    }

    .videoTouchOverlay {
        position: absolute;
        inset: 0;
    }

    &.natural {
        .videoContainer {
            position: static;
        }
    }
}
