.container {
    position: relative;
    overflow: hidden;

    .videoContainer {
        position: absolute;
        overflow: hidden;
    }

    .videoTag {
        pointer-events: auto;
    }

    .videoTouchOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
