// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/placeholders';

.container {
    @extend %fullscreen;
    margin: 0;
    padding: 0;

    .map {
        width: 100%;
        height: 100%;        
    }

    &.preventScroll {
        .map {
            div {
                cursor: default;
            }
        }
    }
}
