.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    line-height: 1.2;

    .check {
        margin-right: 6px;
    }

    .input {
        display: block;
        width: 1rem;
        height: 1rem;
        margin: 0 0 5px;
        accent-color: var(--color-primary, var(--color-checkbox-active, #0b57d0));
        cursor: pointer;
    }

    .label {
        flex-grow: 1;
        cursor: pointer;
        font-weight: 700;
        line-height: 1;
    }

    &:hover,
    &:active {
        .label {
            text-decoration: underline;
        }
    }
}
