@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .content {
        z-index: 1;
    }

    .inner {
        @extend %fullscreen;
    }

    .placeholder {
        @extend %fullscreen;
    }

    .caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    .header {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
