@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .content {
        @extend %fullscreen;
    }

    .layout {
        padding: 1rem;
    }

    .slider {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
}
