@import '~@micromag/core/scss/variables';

.container {
    position: relative;

    .inner {
        display: flex;
        flex-direction: column;
    }

    .dangerZone {
        margin-top: $spacer * 3;
        transition: color 0.2s ease-out;
        color: $gray-500;

        &.opened {
            color: $black;

            .content {
                max-height: 100px;
            }
        }
    }

    .deleteButton {
        display: block;
        width: 100%;
    }
}
