@import '~@micromag/core/scss/variables';

.container {
    position: relative;
    padding: $spacer / 2;

    .inner {
        display: flex;
        flex-direction: column;
    }

    .dangerZone {
        &.opened {
            .content {
                max-height: 100px;
            }
        }
    }

    .deleteButton {
        display: block;
        width: 100%;
    }
}
