@use 'sass:math';
@import '~@micromag/core/scss/variables';

.container {
    position: relative;
    padding: math.div($spacer, 2);

    .inner {
        display: flex;
        flex-direction: column;
    }
}
