@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
}

.button {
    width: 50px;

    &:global(.btn-outline-secondary) {
        border-color: $gray-600;
        color: $gray-600;

        &:hover {
            border-color: $gray-200;
            background: transparent;
            color: $gray-200;
        }
    }
}

.addButton {
    border-style: dashed;
}
