.container {
    display: inline-block;
}

.button {
    width: 50px;
    min-height: 75px;

    &:global(.btn-outline-secondary) {
        border-color: var(--mm-gray-600);
        color: var(--mm-gray-600);

        &:hover {
            border-color: var(--mm-gray-200);
            background: transparent;
            color: var(--mm-gray-200);
        }
    }
}

.addButton {
    border-style: dashed;
}

.title {
    padding: 0 0.2em;
    font-size: 0.75em;
    text-align: left;
}
