// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .content {
        z-index: 1;
    }

    .emptyImage,
    .emptyCaption {
        @extend %empty;
        width: 100%;
        margin: 10px auto;
    }

    .emptyImage {
        height: 200px;
    }

    .emptyCaption {
        height: 50px;
    }

    .image,
    .imageContainer,
    .video {
        position: relative !important; // TODO: find workaround for when styles are doubly applied, and override this declaration
    }

    .imageContainer {
        overflow: hidden;
    }

    .footer {
        transition: opacity 0.2s ease-out;

        a {
            padding: 0;
        }

        &.disabled {
            opacity: 0;
            pointer-events: none;
        }
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}
