/* stylelint-disable max-nesting-depth */
.container {
    position: relative;

    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        z-index: 1;
    }

    .empty {
        height: 50px;
        border: dashed 2px var(--mm-gray-800);
        margin: 5px auto;
        margin-right: 10px;
        color: var(--mm-gray-800);
    }

    .emptyTitle {
        width: 100%;
    }

    .item {
        position: relative;
    }

    .element {
        display: flex;

        &.hidden {
            .body {
                display: none;
                visibility: hidden;
            }
        }
    }

    .timeline {
        display: flex;
        width: 15px;
        box-sizing: content-box;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        padding-right: 20px;
    }

    .line {
        width: 1px;
        flex-grow: 1;

        &.hidden {
            width: auto;
        }
    }

    .bullet {
        width: 15px;
        height: 15px;
        border-width: 1px;
        border-style: solid;
        margin: 2px 0;
    }

    .body {
        flex-grow: 1;
    }

    .title,
    .description,
    .imageContainer {
        padding: 8px 0;
    }

    .image,
    .imageContainer,
    .video {
        position: relative;
    }

    .imageContainer {
        overflow: hidden;
    }

    .callToAction {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: opacity 0.2s ease-out;

        a {
            padding: 0;
        }

        &.disabled {
            opacity: 0;
            pointer-events: none;
        }
    }

    &.isPlaceholder {
        .scroll {
            padding: var(--mm-screen-placeholder-padding, 1.5em);
        }

        .timeline {
            padding-right: 0;
        }

        .bullet {
            width: 10px;
            height: 10px;
            border-color: rgb(255 255 255 / 0.6);
            background-color: rgb(255 255 255 / 0.6);
        }

        .title,
        .description,
        .imageContainer {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            padding: 2px 0;
        }

        .line {
            background-color: rgb(255 255 255 / 0.6);
        }
    }

    &.circleBulletShape {
        .bullet {
            border-radius: 50%;
        }
    }

    &.withoutLines {
        .timeline {
            visibility: hidden;
        }
    }
}
