// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    .empty {
        @extend %empty;
        height: 50px;
        margin-right: 10px;
    }

    .item {
        position: relative;
    }

    .element {
        display: flex;
    }

    .timeline {
        display: flex;
        box-sizing: content-box;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        width: 15px;
        padding-right: 20px;
    }

    .line {
        flex-grow: 1;
        width: 1px;

        &.hidden {
            width: auto;
        }
    }

    .bullet {
        width: 15px;
        height: 15px;
        margin: 2px 0;
        border-width: 1px;
        border-style: solid;
    }

    .content {
        flex-grow: 1;

        &.lastContent {
            margin-bottom: 20px;
        }
    }

    .title,
    .description,
    .imageContainer {
        padding: 8px 0;
    }

    .image,
    .imageContainer,
    .video {
        position: relative;
    }

    .imageContainer {
        overflow: hidden;
    }

    .callToAction {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: opacity 0.2s ease-out;

        a {
            padding: 0;
        }

        &.disabled {
            opacity: 0;
            pointer-events: none;
        }
    }

    &.isPlaceholder {
        .scroll {
            padding: 10px;
        }

        .timeline {
            padding-right: 0;
        }

        .bullet {
            width: 10px;
            height: 10px;
            border-color: rgba($white, 0.6);
            background-color: rgba($white, 0.6);
            mix-blend-mode: difference;
        }

        .content {
            &.lastContent {
                margin-bottom: 4px;
            }
        }

        .title,
        .description,
        .imageContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 2px 0;
        }

        .line {
            background-color: rgba($white, 0.6);
            mix-blend-mode: difference;
        }
    }

    &.circleBulletShape {
        .bullet {
            border-radius: 50%;
        }
    }

    &.withoutLines {
        .timeline {
            visibility: hidden;
        }
    }
}
