@import '~@micromag/core/scss/placeholders';

.container {
    @extend %reset-button;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 0;

    &.placeholder {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
