/* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */

@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %text-styles;
    margin: 0;
    padding: 0;

    &.showEmpty {
        display: inline-block;
        width: 300px;
        height: 80px;
        border: dashed 2px $gray-800;
        color: $gray-800;
    }

    &.withLineClamp {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
