@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    position: relative;
    text-align: center;

    .captions {
        display: inline-block;
        padding: 10px;
        background-color: $black;
        color: $white;
        word-break: break-word;
    }
}
