.container {
    display: flex;
    align-items: center;
    mix-blend-mode: difference;

    .block {
        flex-grow: 1;
    }

    .answer {
        width: 12px;
        padding: 0 1px;
        margin-right: 6px;
        color: rgb(255 255 255 / 0.6);
    }

    .answerIcon {
        display: block;
        width: 100%;
        height: 100%;
        color: rgb(var(--mm-white, #fff), 0.6);
    }

    &.good {
        .answer {
            padding: 0;
        }
    }
}
