@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {
    .box {
        display: block;
        background-color: transparent;
    }

    .icon {
        width: 10px;
        height: auto;
        color: $black;
    }
}

.item {
    width: 100%;
    display: flex;
    padding: 3px;
    background-color: $gray-300;

    + .item {
        margin-top: 5px;
    }
}

.button {
    font-size: 1rem;
}
