.container {
    .box {
        display: block;
        background-color: transparent;
    }

    .icon {
        width: 10px;
        height: auto;
        color: var(--mm-black, #000);
    }
}

.item {
    display: flex;
    width: 100%;
    padding: 3px;
    background-color: var(--mm-gray-300, #dedede);

    + .item {
        margin-top: 5px;
    }
}

.button {
    font-size: 1rem;
}
