@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {
    display: flex;
    align-items: center;
    mix-blend-mode: difference;

    .block {
        flex-grow: 1;
    }

    .percent {
        margin-left: 4px;
    }

    .percentIcon {
        padding: 1px;
        color: rgb($white, 0.6);
    }
}
