.container {
    .box {
        flex-direction: column;
    }

    .icon {
        margin-bottom: 5px;
        color: var(--mm-black, #000);
    }

    .label {
        color: var(--mm-black, #000);
        font-size: 0.75em;
    }
}
