@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {

    .box {
        flex-direction: column;
    }

    .icon {
        margin-bottom: 5px;
        color: $black;
    }

    .label {
        font-size: 0.75em;
        color: $black;
    }
}
