@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.wrapper {
    position: relative;
    list-style: none;
    box-sizing: border-box;
    margin-bottom: 3px;
    border-radius: 10px;

    &:hover {
        .inner {
            .handle .icon {
                display: block;
                visibility: visible;
            }
        }
    }

    &.withChildren {
        background-color: $gray-600;
    }

    &.clone {
        display: inline-block;
        pointer-events: none;
        padding: 0;
        margin-left: 10px;
        margin-top: 5px;

        .inner {
            padding-right: 24px;
            border-radius: 10px;
            box-shadow: 0px 15px 15px 0 rgba(34, 33, 81, 0.1);
        }
    }

    &.ghost {
        &.indicator {
            opacity: 1;
            position: relative;
            z-index: 1;
            margin-bottom: -1px;

            .inner {
                position: relative;
                padding: 0;
                height: 8px;
                border: 1px solid $primary;
                border-radius: 6px;
                background-color: $primary;

                > * {
                    /* Items are hidden using height and opacity to retain focus */
                    opacity: 0;
                    height: 0;
                }
            }
        }

        &:not(.indicator) {
            opacity: 0.6;
        }

        .inner > * {
            box-shadow: none;
            background-color: transparent;
        }

        .inner {
            border: 1px solid $primary;
            border-radius: 4px;
        }
    }

    .inner {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 10px;

        color: #222;
        background-color: transparent;
        box-sizing: border-box;

        .button {
            @extend %reset-button;
            background-color: transparent;
            color: #fff;
            mix-blend-mode: difference;
        }

        // &.collapsed {
        //     margin-bottom: 80px;
        // }

        .handle {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .icon {
                position: absolute;
                top: 10px;
                left: 10px;
                display: none;
                visibility: hidden;
            }
        }

        .text {
            flex-grow: 1;
            padding-left: 0.5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .count,
        .collapsedCount {
            position: absolute;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $primary;
            font-size: 0.8rem;
            font-weight: 600;
            color: #fff;
        }

        .collapsedCount {
            top: auto;
            right: 3px;
            bottom: 3px;
        }

        .disableInteraction {
            pointer-events: none;
        }

        .disableSelection,
        .clone {
            .Text,
            .Count {
                user-select: none;
                -webkit-user-select: none;
            }
        }

        .collapse {
            position: absolute;
            bottom: 8px;
            left: 10px;
            display: flex;
            z-index: 1;

            svg {
                transition: transform 250ms ease;
            }

            &.collapsed svg {
                transform: rotate(-90deg);
            }
        }
    }

    .children {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
