.disabled {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.content {
    position: relative;
}

.navbar {
    z-index: 999;
}

.panel {
    position: relative;
}
