@import '~@micromag/core/scss/variables';

%disabled {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.content {
    position: relative;
}

.navbar {
    background-color: $black;
    z-index: 999;
}

.panel {
    position: relative;

    &.enterRight,
    &.enterLeft,
    &.enterTop,
    &.enterBottom {
        z-index: 1;
        opacity: 0.5;
    }

    &.enterRight {
        transform: translate(100%, 0);
    }

    &.enterLeft {
        transform: translate(-100%, 0);
    }

    &.enterTop {
        transform: translate(0, -100%);
    }

    &.enterBottom {
        transform: translate(0, 100%);
    }

    &.enterActiveHorizontal,
    &.enterActiveVertical {
        transform: translate(0, 0);
        opacity: 1;
    }

    &.enterActiveHorizontal {
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    }

    &.enterActiveVertical {
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    }

    &.exit {
        @extend %disabled;
        transform: translate(0, 0);
        opacity: 1;
    }

    &.exitActiveRight,
    &.exitActiveLeft {
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        opacity: 0.5;
    }

    &.exitActiveTop,
    &.exitActiveBottom {
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
        opacity: 0.5;
    }

    &.exitActiveRight {
        transform: translate(-100%, 0);
    }

    &.exitActiveLeft {
        transform: translate(100%, 0);
    }

    &.exitActiveTop {
        transform: translate(0, 100%);
    }

    &.exitActiveBottom {
        transform: translate(0, -100%);
    }
}
