@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    > .inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .top {
        display: none;
        width: 100%;
        padding: 20px 0;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        max-width: 100%;
        padding: 0;
        overflow: hidden;

        > .inner {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
        }
    }

    .preview {
        position: relative;
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%;
    }

    .viewerContainer {
        position: relative;
        height: 100%;
    }

    .deviceMenu {
        //
    }

    .devices {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .noStory {
        @extend %fullscreen;
    }

    .story {
        @extend %fullscreen;
    }
}

@include match-screen('medium') {
    .top {
        display: block;
        // justify-content: center;
        width: 100%;
        overflow-x: auto;
        text-align: center;
    }

    .bottom {
        padding: 50px 20px;
    }
}
