/* Utils */
/* Reset */
/* Container */
/* Text styles */
.micromag-component-text-container {
  line-height: 1.3; }
  .micromag-component-text-container h2 {
    font-size: 2em; }
  .micromag-component-text-container h3 {
    font-size: 1.75em; }
  .micromag-component-text-container h4 {
    font-size: 1.5em; }
  .micromag-component-text-container em,
  .micromag-component-text-container i {
    font-style: italic; }
  .micromag-component-text-container strong,
  .micromag-component-text-container b {
    font-weight: bold; }
  .micromag-component-text-container p {
    margin-bottom: 1em; }
  .micromag-component-text-container blockquote {
    padding: 0;
    padding-left: 1em; }

.micromag-component-text-container {
  margin: 0;
  padding: 0; }
