@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %screen;

    .inner {
        position: relative;
        margin: 0 auto;
    }

    .content {
        @extend %flex;
        width: 100%;
        height: 100%;
    }

    &.fullscreen {
        width: 100%;
        height: 100%;
    }

    &.top {
        .content {
            align-items: flex-start;
        }
    }

    &.bottom {
        .content {
            align-items: flex-end;
        }
    }

    &.left {
        .content {
            justify-content: flex-start;
        }
    }

    &.right {
        .content {
            justify-content: flex-end;
        }
    }
}
