.container {
    .heading {
        display: flex;
        justify-content: space-between;
    }

    .title {
        color: var(--mm-gray-500, #adadad);
        font-size: var(--mm-font-size-sm);
        font-weight: var(--mm-font-weight-bold);
        text-transform: uppercase;
    }

    .resetButton {
        margin-left: 5px;
        font-size: var(--mm-font-size-sm);
        outline: none;
    }

    .activeTag {
        margin-top: 5px;
        margin-right: 5px;
    }
}
