@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    .image {
        display: block;
        max-width: 100%;
        min-height: 200px;
        max-height: 40vh;
        margin: 0 auto;
    }

    .video {
        position: relative;
        height: 40vh;
        min-height: 200px;
        background-color: $black;

        .player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .audio {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $black;

        .player {
            display: block;
            margin: 0 auto;
        }
    }

    .placeholder {
        height: 60px;
        background-color: $black;
    }
}
