@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    .preview {
        position: relative;
        background: $black;
    }

    .image {
        display: block;
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .playIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 36px;
        height: 36px;
        transform: translate(-50%, -50%);
        color: $white;
    }

    .audio {
        position: absolute;
        bottom: 0;
        width: 100%;

        .player {
            display: block;
            margin: 0 auto;
        }
    }

    .video {
        display: block;
        max-width: 80%;
        margin: 0 auto;
    }
}
