@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;
    max-width: 100%;
    max-width: 320px;
    padding: 0.5rem;

    .inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    .mediaPreview {
        display: block;
        width: 100px;
        margin-right: 5px;

        img {
            display: block;
            width: 100%;
        }
    }

    .mediaLabel {
        display: block;
        min-width: 0;
    }
}
