@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .inner {
        width: 100%;
        padding: 20px 15px;
    }

    .title {
        position: relative;
        width: 100%;
    }

    .timelineContainer {
        position: relative;
        margin: 20px 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-left: 2px dashed #000;
        }
    }

    .timelineBlock {
        display: flex;
        position: relative;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .dot {
        position: absolute;
        top: 0;
        left: calc(2px / 2 - 10px / 2);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #000;
    }

    .mainContent {
        flex-grow: 1;
        margin-left: 20px;
    }

    .placeholder {
        width: 100%;
    }
}
