@import '~@micromag/core/src/styles/variables';
@import '~@micromag/core/src/styles/placeholders';
@import '~@micromag/core/src/styles/mixins';

.container {
    @extend %screen;

    .inner {
        margin: 20px;
    }

    @include match-screen('medium') {
        .top {
            display: block;
        }

        .bottom {
            padding: 40px 20px;
        }
    }

    .item {
        margin: 10px;
    }
}
