// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    .empty {
        @extend %empty;
        height: 50px;
        margin-right: 10px;
    }

    .item {
        position: relative;
        padding: 10px 0;
    }

    .rankText {
        font-size: 48px;
    }

    .title,
    .description {
        padding: 8px 0;
    }

    &.sideLayout {
        .layout {
            display: table;
            width: 100%;
        }

        .item {
            display: table-row;
            padding: 0;
        }

        .rank,
        .content {
            display: table-cell;
            padding: 10px 0;
            vertical-align: top;            
        }
        
        .rank {            
            padding-right: 20px;
        }
    }

    &.isPlaceholder {
        .rank {
            color: rgba($black, 0.5);
            font-size: 18px;
            text-align: left;            
        }

        .scroll {
            padding: 10px;
        }

        .title,
        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }

        &.sideLayout {
            .rank {
                width: 10px;
                padding-top: 8px;
                padding-right: 4px;
            }

            .content {
                padding: 5px 0;
            }
        }
    }
}
