// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .content {
        z-index: 1;
    }

    .heading {
        margin-bottom: 0.5em;
        font-size: 1rem;
        font-weight: normal;
    }
}

.layout {
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    @extend %hide-scrollbars;
}

.emptyHeading,
.emptyItems {
    @extend %empty;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}

.emptyItems {
    padding: 40px;
}

.header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}

.items {
    user-select: none;
}

.item {
    display: block;
    width: 100%;

    transform-origin: 50% 50%;
    border-radius: 0;
    opacity: 0;

    // &:last-child {
    //     margin-bottom: 0;
    // }

    .button {
        margin-bottom: 0.3em;
    }

    .sorted & {
        opacity: 1;
    }

    .draggable & {
        touch-action: none;
    }
}

.button {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.5em;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;

    .buttonLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .buttonResults {
        margin-left: auto;
        padding-left: 2em;
        animation: fadeIn 0.2s ease-in-out;
        animation-fill-mode: forwards;
    }

    .label {
        transition: text-align 0.2s ease-in-out;
    }

    .isEmpty & {
        min-height: 2em;
    }

    .valid & {
        background: rgba(0, 255, 0, 0.4);
    }

    .invalid & {
        background: rgba(255, 0, 0, 0.4);
    }

    .resultsVisible & {
        .label {
            text-align: left !important;
        }
    }

    &.layoutLabelTop {
        display: flex;
        flex-direction: column-reverse;
    }

    &.layoutNoLabel {
        .buttonLabel {
            display: none;
        }
    }

    &.layoutLabelOver {
        min-height: 2em;

        .buttonVisual {
            position: relative;
            z-index: 1;
        }

        .buttonLabel {
            @extend %fullscreen;
            z-index: 2;
            top: auto;
            bottom: 0;
            height: auto;
            padding: 0.5em;
            background-image: linear-gradient(to bottom, rgba($black, 0), rgba($black, 0.75));
        }
    }
}

.submitButton {
    margin-top: 0.3em;
    padding: 0.75em;
    background: #fff;
    color: #000;

    &:disabled {
        opacity: 0.5;
    }
}

.results {
    margin-top: 0.3em;
    animation: fadeIn 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
