.container {
    &.withoutShadow {
        .inner::after {
            opacity: 0;
        }
    }

    @media screen and (width >= 1024px) {
        display: none;
    }
}

.inner {
    &::after {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 1000%;
        height: 0;
        padding-bottom: 1000%;
        animation-delay: 0.1s;
        animation-direction: alternate;
        animation-duration: 0.8s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: shadowFade;
        animation-timing-function: var(--mm-ease-in-out-soft-sine, 'ease-out');
        background-image: radial-gradient(rgb(28 28 28 / 0.5), rgb(28 28 28 / 0) 50%);
        content: '';
        transform: translate(-50%, -50%);
    }
}

.arrow {
    position: relative;
    z-index: 2;
    width: 1.5rem;
    height: auto;
    animation-direction: alternate;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: panX;
    animation-timing-function: var(--mm-ease-in-out-soft-sine, 'ease-out');
}

@keyframes panX {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-1rem);
    }
}

@keyframes shadowFade {
    from {
        transform: translate(-50%, -50%) translateY(0) scale(0.75);
    }

    to {
        transform: translate(-50%, -50%) translateX(-1rem) scale(1.25);
    }
}
