@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.inner {
    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 1000%;
        height: 0;
        padding-bottom: 1000%;
        transform: translate(-50%, -50%);
        animation-name: shadowFade;
        animation-duration: 0.8s;
        animation-timing-function: $ease-in-out-soft-sine;
        animation-delay: 0.1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        background-image: radial-gradient(rgba($black, 0.5), rgba($black, 0) 50%);
        animation-fill-mode: both;
    }
}

.arrow {
    position: relative;
    z-index: 2;
    width: 1.5rem;
    height: auto;
    animation-name: panX;
    animation-duration: 0.8s;
    animation-timing-function: $ease-in-out-soft-sine;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes panX {
    from {
        transform: translateX(0) rotate(90deg) ;
    }

    to {
        transform: translateX(-1rem) rotate(90deg) ;
    }
}

@keyframes shadowFade {
    from {
        transform: translate(-50%, -50%) translateY(0) scale(0.75);
    }

    to {
        transform: translate(-50%, -50%) translateX(-1rem) scale(1.25);
    }
}
