.container {
    .circle {
        position: absolute;
        z-index: 2;
        top: -10px;
        left: 0;
        width: 21px;
        height: 21px;
        border: 1px solid #fff;
        border-radius: 50%;
        animation-duration: 1.2s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: pulse;
        animation-timing-function: linear;
    }

    .hand {
        position: relative;
        z-index: 2;
        width: 30px;
        height: auto;
        animation-direction: alternate;
        animation-duration: 0.6s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: panY;
        animation-timing-function: ease;
    }

    &.withoutShadow {
        .inner::after {
            opacity: 0;
        }
    }

    @media screen and (width >= 1024px) {
        display: none;
    }
}

.inner {
    &::after {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 600%;
        height: 500%;
        animation-delay: 0.05s;
        animation-direction: alternate;
        animation-duration: 0.6s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: shadowFade;
        animation-timing-function: ease;
        background-image: radial-gradient(rgb(28 28 28 / 0.5), rgb(28 28 28 / 0) 60%);
        content: '';
        transform: translate(-50%, -50%);
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes panY {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes shadowFade {
    from {
        transform: translate(-50%, -50%) translateY(0);
    }

    to {
        transform: translate(-50%, -50%) translateY(10px);
    }
}
