@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.cover {
    margin-right: 1rem;
}

.info {
    white-space: normal;

    h3 {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
    }
}
