@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.cover {
    margin-right: 0.5rem;
}

.info {
    white-space: normal;
}

.url {
    margin: 0.5rem 0;
    font-size: 0.75rem;
}

.container { // @todo specificity clash
    .title {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
    }
}
