@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %reset-button;
    @extend %focus-outline;
    border: 0;
}

.arrow {
    width: 1rem;
    height: auto;

    .next & {
        transform: rotate(90deg);
    }

    .previous & {
        transform: rotate(-90deg);
    }
}
