@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.playPauseButton,
.muteButton {
    @extend %reset-button;
    display: flex;

    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: opacity 0.5s ease-out;
    pointer-events: auto;
}

.playPauseButton {
    transition: opacity 0.5s ease-out;
    border: 2px solid currentColor;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;

    .icon {
        display: block;
        width: 40%;
        height: 40%;
        transform: translateX(5%);
    }

    .controlsVisible & {
        opacity: 1;
        pointer-events: auto;
    }

    .seekBarOnly & {
        opacity: 0;
        pointer-events: none;
    }
}

.muteButton {
    opacity: 0;
    pointer-events: none;

    .icon {
        display: block;
        width: 70%;
        height: 70%;
    }

    &.isMuted {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
            transform: rotate(-45deg);
            background-color: currentColor;
        }
    }

    .hasMedia & {
        opacity: 1;
        pointer-events: auto;
    }
}

.seekBar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition:
        transform 0.2s ease-in-out,
        bottom 0.2s ease-in-out,
        padding 0.2s 0.2s ease-in-out;

    .isMinified & {
        transform: translateY(0);
    }

    .controlsVisible & {
        bottom: 50%;
        padding: 0 70px;
        transform: translateY(50%);
        transition:
            transform 0.2s ease-in-out,
            bottom 0.2s 0.2s ease-in-out,
            padding 0.2s ease-in-out;
        opacity: 1;
    }
}
