.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.playPauseButton,
.muteButton {
    position: relative;
    z-index: 2;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding: 1rem;
    border: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    pointer-events: auto;
    transition: opacity 0.5s var(--mm-ease-in-out-sine);
}

.icon {
    position: relative;
    z-index: 1;
    display: block;
    width: 1.5rem;
    height: auto;
    max-height: 1.5rem;
    color: currentcolor;

    &.offset {
        left: 0.13rem;
    }
}

.spinner {
    position: relative;
    z-index: 1;
    display: block;
    width: 2rem;
    max-height: 2rem;
    color: currentcolor;

    &.offset {
        left: -0.5rem;
    }
}

.playPauseButton {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s var(--mm-ease-in-out-sine);

    /* display the Play/Pause button */
    .withPlayPause &,
    .withSuggestPlay & {
        opacity: 1;
        pointer-events: auto;
    }

    /* display the play/pause button, but faded because the controls are collapsed */
    .withPlayPause.isCollapsed & {
        opacity: 0.25;
    }

    &.loading {
        opacity: 1;
    }

    &.hidden {
        opacity: 0;
    }

    &:focus-visible {
        box-shadow: 0 0 2px 2px var(--micromag-focus-color, #fff);
    }
}

.suggest {
    position: fixed !important;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid currentcolor;
    border-radius: 50%;
    appearance: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    opacity: 1;
    pointer-events: auto;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    transition: opacity 0.5s var(--mm-ease-in-out-sine);

    &.notPlaying {
        svg {
            margin-left: 2px;
        }
    }

    &.loading {
        opacity: 1;
    }

    &.hidden {
        opacity: 0;
    }
}

.muteButton {
    opacity: 0;
    pointer-events: none;

    &.isMuted {
        &::after {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
            background-color: currentcolor;
            content: '';
            transform: rotate(-45deg);
        }
    }

    .withMute & {
        opacity: 1;
        pointer-events: auto;
    }

    .withSeekBar.withMute.isCollapsed & {
        opacity: 0.25;
    }

    .withMute.isCollapsed.isMuted & {
        opacity: 1;
    }

    &:focus-visible {
        box-shadow: 0 0 2px 2px var(--micromag-focus-color, #fff);
        outline: 2px solid #000;
    }
}

.seekBar {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
    transition:
        transform 0.2s var(--mm-ease-in-out-sine),
        bottom 0.2s 0.2s var(--mm-ease-in-out-sine),
        padding 0.2s var(--mm-ease-in-out-sine);

    .withSeekBarOnly & {
        bottom: 0;
        opacity: 1;
        transform: translateY(0);
    }

    .withSeekBar.withPlayPause & {
        bottom: 50%;
        padding: 0 3rem;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(50%);
    }

    .isCollapsed & {
        bottom: 0;
        padding: 0;
        transition:
            transform 0.5s var(--mm-ease-in-out-sine),
            bottom 0.5s var(--mm-ease-in-out-sine),
            padding 0.5s 0.25s var(--mm-ease-in-out-sine);
    }

    .isCollapsed.withSeekBar & {
        bottom: 0;
        padding: 0;
        transform: translateY(0);
        transition:
            transform 0.5s var(--mm-ease-in-out-sine),
            bottom 0.5s var(--mm-ease-in-out-sine),
            padding 0.5s 0.25s var(--mm-ease-in-out-sine);
    }

    &:focus-visible {
        &:focus-within {
            box-shadow: 0 0 2px 2px var(--micromag-focus-color, #fff);
        }
    }
}

.withMute {
    .muteButton {
        position: relative;

        &::before {
            position: absolute;
            z-index: -1;
            right: -10px;
            bottom: -10px;
            display: block;
            width: 300%;
            height: 300%;
            background-color: transparent;
            background-image: radial-gradient(
                circle at bottom right,
                rgb(28 28 28 / 0.3) 0%,
                rgb(28 28 28 / 0) 50%
            );
            content: '';
            pointer-events: none;
            transition: opacity 0.2s ease-out;
        }
    }

    &.isCollapsed {
        .muteButton {
            &::before {
                opacity: 1;
            }
        }
    }

    &.withSeekBar {
        .muteButton {
            &::before {
                opacity: 0;
            }
        }

        &.isCollapsed {
            .muteButton {
                &::before {
                    opacity: 1;
                }
            }
        }

        &.withoutShadow {
            .muteButton {
                &::before {
                    opacity: 0;
                }
            }
        }
    }

    &.withoutShadow {
        .muteButton {
            &::before {
                opacity: 0;
            }
        }
    }
}

.withPlayPause {
    .playPauseButton {
        position: relative;

        &::before {
            position: absolute;
            z-index: -1;
            bottom: -10px;
            left: -10px;
            display: block;
            width: 300%;
            height: 300%;
            background-color: transparent;
            background-image: radial-gradient(
                circle at bottom left,
                rgb(28 28 28 / 0.3) 0%,
                rgb(28 28 28 / 0) 50%
            );
            content: '';
            pointer-events: none;
            transition: opacity 0.2s ease-out;
        }
    }

    &.isCollapsed {
        .playPauseButton {
            &::before {
                opacity: 0.5;
            }
        }
    }

    &.withSeekBar {
        .playPauseButton {
            &::before {
                opacity: 0;
            }
        }

        &.isCollapsed {
            .playPauseButton {
                &::before {
                    opacity: 0.5;
                }
            }
        }

        &.withoutShadow {
            .playPauseButton {
                &::before {
                    opacity: 0;
                }
            }
        }
    }

    &.withoutShadow {
        .playPauseButton {
            &::before {
                opacity: 0;
            }
        }
    }
}

.withSeekBar {
    &::after {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 150px;
        background-image: linear-gradient(180deg, rgb(28 28 28 / 0) 40%, rgb(28 28 28 / 0.4) 100%);
        content: '';
        pointer-events: none;
        transition: transform 0.2s ease-in-out;
    }

    &.isCollapsed {
        &::after {
            transform: translate(0, 100%);
        }
    }

    &.withoutShadow {
        &::after {
            background-image: none;
        }
    }
}

.withSuggestPlay {
    .muteButton,
    .playPauseButton,
    .seekBar {
        opacity: 0.25 !important;
    }

    .suggest {
        opacity: 1;
    }
}
