.inner {
    position: relative;
    flex-grow: 1;
}

.progressBarContainer {
    position: relative;
    height: 0.16rem;
}

.progressBar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--mm-white, #fff);
    opacity: 0.5;
}

.progress,
.track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress {
    position: relative;
    background-color: var(--mm-white, #fff);
    transform-origin: left center;
}

.playHead {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--mm-white, #fff);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s var(--mm-ease-in-bump, 'ease-out');
}

.withSeekHead {
    @media (hover: hover) {
        &:hover {
            .playHead {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }

    &:focus-within {
        .playHead {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.scrubbedTime {
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 50%;
    padding: 0.4rem 0.5rem 0.25rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    background-color: var(--mm-white, #fff);
    color: var(--mm-black, #000);
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    transform: translate(-50%, 0);
    transition:
        opacity 0.5s var(--mm-ease-in-bump, 'ease-out'),
        transform 0.5s var(--mm-ease-in-bump, 'ease-out');

    .showTimestamp & {
        opacity: 1;
        transform: translate(-50%, -0.5rem);
    }
}

.track {
    /* position: relative; */
    position: absolute;
    right: 0;
    left: 0;
    display: inline-block;
    height: 5rem;
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    touch-action: none;
    transform: translateY(-50%);

    .withSeekHead & {
        display: block;
    }

    &:focus-visible {
        box-shadow: 0 0 2px 2px var(--micromag-focus-color, #fff);
    }
}
