@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.inner {
    position: relative;
    flex-grow: 1;
}

.progressBar {
    background-color: rgba($white, 0.5);
}

.progress,
.track {
    @extend %fullscreen;
}

.progress {
    position: relative;
    height: 4px;
    transform-origin: left center;
    background-color: $purple;
}

.playHead {
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 24px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-out;
    background-color: $purple;

    .withSeekHead & {
        transform: translate(-50%, -50%) scale(1);
        transition: transform 0.2s 0.2s ease-out;
    }
}

.track {
    @extend %reset-button;

    display: none;
    height: 50px;
    transform: translateY(-50%);
    background-color: transparent;
    touch-action: none;

    .withSeekHead & {
        display: block;
    }
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}
