@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.inner {
    flex-grow: 1;
}

.progressBar {
    position: relative;
    height: 0.5rem;
    background-color: rgba($white, 0.1);
}

.progress,
.buffered,
.track {
    @extend %fullscreen;
}

.progress,
.buffered {
    position: relative;
    transform-origin: left center;
    background-color: $purple;
}

.progress {
    z-index: 2;
}

.buffered {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.track {
    z-index: 2;
}

.playHead {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s $ease-in-bump;
    border-radius: 50%;
    background-color: $purple;
}

.withSeekHead {
    @media (hover: hover) {
        &:hover {
            .playHead {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}

.scrubbedTime {
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 50%;
    padding: 0.25rem 0.5rem;
    transform: translate(-50%, 0);
    transition: opacity 0.5s $ease-in-bump, transform 0.5s $ease-in-bump;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    opacity: 0;
    background-color: $white;
    color: $black;
    font-size: 1.1rem;
    font-weight: bold;

    .showTimestamp & {
        transform: translate(-50%, -0.5rem);
        opacity: 1;
    }
}

.track {
    @extend %reset-button;

    display: none;
    height: 5rem;
    transform: translateY(-50%);
    background-color: transparent;

    .withSeekHead & {
        display: block;
    }
}
