// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    pointer-events: none;

    .content {
        padding: 5px;
        transform: scale(0.8);
        transform-origin: center top;
        transition: all .2s ease;
        border-radius: 10px;
        opacity: 0;
        background-color: $white;

        &::before {            
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 0; 
            height: 0; 
            transform: translateX(-50%);
            border-right: 8px solid transparent;
            border-bottom: 8px solid $white;
            border-left: 8px solid transparent;           
        }
    }
      
    button {
        display: block;
        margin: 5px;
    }

    &.opened {
        pointer-events: auto;

        .content {
            transform: scale(1);
            opacity: 1;            
        }
    }
}
