@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: fixed;
    z-index: 1020;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    transition: background-color 0.2s ease-out;
    background-color: transparent;
    pointer-events: none;

    &.opened {
        background-color: rgba($black, 0.5);
        pointer-events: auto;
    }
}

.modal {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: calc(100% - 1rem);
    max-width: 500px;
    transform: translate(-50%, -50%) translateY(1rem);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    border-radius: 1.5rem;
    opacity: 0;
    background-color: rgba($gray-800, 0.5);
    color: $white;
    backdrop-filter: blur(1rem);

    .opened & {
        transform: translate(-50%, -50%) translateY(0);
        transition: opacity 0.2s 0.1s ease-out, transform 0.2s 0.1s ease-out;
        opacity: 1;
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 1rem 1rem;
}

.heading {
    // @todo more specificity was needed here because viewer sets styles to headings h2, h3, etc.
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}

.close {
    @extend %reset-button;
    margin: -2px -2px 0 0; // @todo counteracts the border (it's included in svg viewBox...)
    margin-left: auto;
    padding: 0;
}

.content {
    padding: 0 1rem;
}

.mode {
    h3 {
        margin-bottom: 0.5rem;
        font-size: 14px;
        font-weight: 700;
    }

    label {
        margin-right: 1.5rem;
        font-size: 14px;
    }

    input {
        margin-right: 0.25rem;
    }
}

.modeOptions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.shareOptions {
    margin-top: 1rem;
}

.shareOptionsItem {
    border-top: 1px solid $gray-800;

    + .shareOptionsItem {
        margin-top: 0;
    }

    &:last-child {
        .shareOptionsInner {
            padding-bottom: 0.5rem;
        }
    }
}

.shareOptionsInner {
    background-color: transparent;
    padding: 0 0.25rem;

    &:hover {
        background-color: $black;
    }
}
