@import '~@micromag/core/scss/variables';

.container {
    padding: 10px;
}

.items {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.item {
    text-align: center;

    h4 {
        font-size: 1rem;
    }

    .screen {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
            background: $gray-600;
        }
    }
}
