@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    .screen {
        @extend %fullscreen;    
        box-sizing: content-box;
        overflow: hidden;
    }

    &.withSize {
        position: relative;
    }

    &.withScroll {
        .screen {
            overflow: auto;
        }
    }

    &.withBorder {
        .screen {
            border: solid 1px $gray-200;
        }        
    }
}
