@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    &.withSize {
        position: relative;
    }
}

.screen {
    @extend %fullscreen;
    @extend %reset-viewer;
    box-sizing: content-box;
    overflow: hidden;

    .withScroll & {
        overflow: auto;
    }

    .withBorder & {
        border: solid 1px $gray-200;        
    }
}
