@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    &.withSize {
        position: relative;
    }
}

.screen {
    @extend %fullscreen;    
    box-sizing: content-box;
    overflow: auto;

    .withBorder & {
        border: solid 1px $gray-200;
    }
}
