.container {
    & em,
    & i {
    font-style: italic;
    }

    & strong,
    & b {
    font-weight: bold;
    }

    & p {
        padding: 0;
        margin: 0;
    }

    & mark {
        padding: 0;
        box-decoration-break: clone;
    }

    padding: 0;
    margin: 0;
    line-height: 1;
}
