@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .inner {
        width: 100%;
        padding: 20px 15px;
    }

    .title {
        position: relative;
    }

    .timelineContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .timelineBlock {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;

        &::after {
            content: '';
            position: relative;
            height: 50px;
            margin: 0 auto;
            border-left: 5px dashed #000;
        }

        &:last-child {
            &::after {
                display: none;
                visibility: hidden;
            }
        }
    }

    .mainContent {
        flex-grow: 1;
        margin-left: 20px;
    }

    .imageContainer {
        width: 100%;
        margin-top: 5px;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .placeholder {
        width: 100%;
    }
}
