.container {
    display: flex;
    width: 100%;
    flex-direction: row;

    .button {
        flex-grow: 1;
        padding: 20px 0;
    }

    .frame {
        width: 100%;
        max-width: 50px;
        border: solid 1px var(--mm-gray-400);
        margin: 0 auto;

        .shape {
            position: relative;
            width: 100%;
            padding-bottom: 150%;
        }

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2px;
        }

        .media {
            width: 100%;
            height: 30px;
            background: var(--mm-gray-400);
        }

        &.cover {
            .media {
                height: 100%;
                object-fit: cover;
            }
        }

        &.contain {
            .media {
                object-fit: contain;
            }
        }

        &.fill {
            .media {
                height: 100%;
                object-fit: fill;
            }
        }

        &.none {
            .media {
                height: 0;
                object-fit: none;
            }
        }
    }
}
