.container {
    display: block;
    width: 100%;
    font-size: 0.85rem;
    white-space: nowrap;

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        white-space: nowrap;

        > * {
            display: block;
            margin-right: calc(var(--mm-spacer) / 2);
            line-height: 1;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .noValue {
        color: var(--mm-gray-400);
        text-align: right;
    }

    .name,
    .size {
        font-family: var(--mm-font-family-monospace);
    }

    .preview {
        font-size: 1.25rem;
    }
}
