@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {
    position: relative;
}

.frame {
    position: relative;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}
