@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {
    .screen {
        @extend %fullscreen;
        overflow: hidden;
        transform: translate(100%, 0);
        user-select: none;

        &.visible {
            transform: translate(0, 0);
        }
    }
}
