.container {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;

    & *,
    & *::before,
    & *::after {
    box-sizing: border-box;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & p,
    & ul,
    & ol,
    & dl,
    & li,
    & address,
    & blockquote,
    & pre,
    & figure,
    & caption,
    & label,
    & legend {
    margin: 0;
    padding: 0;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & p,
    & li {
    font-weight: inherit;
    }

    & mark,
    & .mark {
    color: inherit;
    }
    background-color: var(--mm-black);
    color: var(--mm-white);
}
