@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {
    &.isFullScreen {
        @extend %fullscreen;
    }
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}
