@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %screen;

    .empty {
        @extend %empty;
        width: 100%;
        height: 80%;
    }

    .markerContent {
        @extend %fullscreen;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;

        .swipeIndicator {
            width: 30px;
            margin: 10px auto;
            border: 2px solid $gray-500;
            border-radius: 2px;
        }
    }

    .splash {
        @extend %fullscreen;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        transition: opacity 0.3s ease;
        background-color: rgba($black, 0.4);
    }

    .splashText {
        padding: 20px;
        background-color: $white;
        color: $black;        
    }

    .splashButton {
        @extend %fullscreen;
    }
    
    &.topLayout {
        .markerContent {
            transform: translateY(-100%);
        }

        .markerContentInner {
            order: 1;
        }

        .swipeIndicator {
            order: 2;
        }
    }

    &.bottomLayout {
        .markerContent {
            transform: translateY(100%);
        }
    }

    &.hasSelectedMarker {
        .markerContent {
            transform: translateY(0%);
        }
    }

    &.opened {
        .splash {
            opacity: 0;
            pointer-events: none;
        }
    }
}

