@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .containerInner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .content {
        margin: auto 0;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .line {
        width: 0;
        height: 20px;
        margin: 4px auto;
        border-left: 2px dashed $black;
    }

    .placeholder {
        @extend %placeholder-center;
    }

    .timelineBlock {
        margin: 20px 0;

        .line {
            height: 60px;
            margin: 20px auto;
            border-left-color: $white;
        }
    }
}
