@import '~@micromag/core/scss/variables';

.container {
    .withLabel {
        display: inline-block;
        margin-right: 5px;
    }

    .dropdown {
        right: 0;
        left: auto;
        padding: 0;
    }
}
