@import '~@micromag/core/scss/variables';

.container {
    .withLabel {
        display: inline-block;
        margin-right: 5px;
    }
}

.dropdown {
    z-index: 10;
    right: 0;
    left: auto;
    margin: 0;
    padding: 0;
}
