.container {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    border-radius: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    transform-origin: 0 50%;

    .label {
        opacity: 0.75;
    }

    @media (hover: hover) {
        &:hover {
            .icon {
                transform: scale(1.1);
                transition:
                    transform 0.3s var(--mm-ease-in-yo, 'ease-out'),
                    opacity 0.3s var(--mm-ease-in-yo, 'ease-out');
            }

            .label {
                opacity: 1;
                transition: opacity 0.3s var(--mm-ease-in-yo, 'ease-out');
            }
        }
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px var(--mm-focus-color, #fff);
    }

    &:active {
        .icon,
        .label {
            transform: scale(1);
            transition: transform 0.3s var(--mm-ease-in-kickback, 'ease-out');
        }
    }
}

.label {
    user-select: none;
}

.icon {
    svg {
        display: block;
        width: 1rem;
        height: auto;
    }
}
