@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %reset-button;

    display: flex;
    align-items: center;
    transform-origin: 0 50%;
    border-radius: 0;

    .label,
    .icon {
        opacity: 0.75;
    }

    @media (hover: hover) {
        &:hover {
            .icon {
                transform: scale(1.1);
                transition: transform 0.3s $ease-in-yo, opacity 0.3s $ease-in-yo;
                opacity: 1;
            }

            .label {
                transition: opacity 0.3s $ease-in-yo;
                opacity: 1;
            }
        }
    }

    &:active {
        .icon,
        .label {
            transform: scale(1);
            transition: transform 0.3s $ease-in-kickback;
        }
    }
}

.label {
    user-select: none;
}

.icon {
    svg {
        display: block;
        width: 1rem;
        height: auto;
    }
}
