@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.arrow {
    width: 1rem;
    height: auto;

    .next & {
        transform: rotate(90deg);
    }

    .previous & {
        transform: rotate(-90deg);
    }
}
