@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .empty {
        @extend %empty;
        @extend %empty-image;
    }
}
