// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .content {
        position: relative;
        height: 100%;
    }

    .emptyImage,
    .emptyTitle,
    .emptyText,
    .emptyLegend {
        @extend %empty;
        width: 100%;
        margin: 10px auto;
    }

    .emptyImage {
        height: 100%;
    }

    .emptyTitle {
        height: 100px;
    }

    .emptyText {
        height: 80px;
    }

    .emptyLegend {
        height: 50px;
    }

    .imageContainer {
        position: relative;
        flex-grow: 1;
    }

    .image {
        @extend %fullscreen;
    }

    .placeholderImage {
        height: 100%;
    }

    .callToAction {
        margin-top: -10px;
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }

    &.isCard {
        .placeholderImage {
            margin: -10px -10px 0;
        }
    }

    &.isCardReverse {
        .placeholderImage {
            margin: 10px -10px 0;
        }
        .callToAction {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    &.isFullscreen {
        .layout {
            padding: 0;
        }

        .callToAction {
            position: absolute;
            bottom: 10px;
            width: 100%;
            margin-top: 0;
        }
    }
}
