@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .content {
        position: relative;
        height: 100%;
    }

    .empty {
        @extend %empty;
        width: 100%;
        height: 50px;
        margin: 5px auto;

        &.emptyImage {
            @extend %empty-image;
        }
    }

    .imageContainer {
        position: relative;
        flex-grow: 1;
    }

    .image {
        @extend %fullscreen;
    }

    .placeholderImage {
        height: 100%;
    }
}
