@import '~@micromag/core/src/styles/placeholders';

.container {
    @extend %screen;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    &.isFullScreen {
        width: 100%;
        height: 100%;
    }

    .inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .image {
        display: inline-block;
        max-width: 100%;
    }

    .placeholder {
        position: relative;
        width: 50%;
        height: 50%;
        margin: 0 auto;
    }
}
