@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;    

    .stackContainer {
        display: flex;
        visibility: hidden;
        flex-direction: column;
        height: 100%;
    }

    .item {
        padding: 10px;
    }

    .image,
    .text {
        padding: 10px;
    }

    .image {
        display: inline-block;
        max-width: 100%;
    }

    .placeholderImage {
        margin: 2px;
    }

    .placeholderContainer {
        display: inline-block;
        width: 50%;
        margin: 2px;
    }

    .empty {
        @extend %empty;
        width: 100%;
        height: 10%;
        margin: 5px;
    }

    .emptyImage {
        height: 30%;
    }

    &.ready {
        .stackContainer {
            visibility: visible;
        }
    }

    &.sideways {
        .item {
            width: 50%;
        }
    }
}
