@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    &.isFullScreen {
        width: 100%;
        height: 100%;
    }

    &.sideways {
        .image,
        .text {
            max-width: 50%;
            padding: 10px;
        }
    }

    .inner {
        position: relative;
        width: 100%;
        max-width: 500px;
        height: 100%;
    }

    .image {
        display: inline-block;
        max-width: 100%;
    }

    .placeholderImage {
        margin: 2px;
    }

    .placeholderContainer {
        display: inline-block;
        width: 50%;
        margin: 2px;
    }

    .empty {
        margin: 5px auto;
    }
}
