@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.img {
    display: block;
}

.showEmpty {
    width: 300px;
    height: 200px;
    border: 2px dashed $gray-200;
}

.container {
    position: relative;
    overflow: hidden;

    .img {
        position: absolute;
    }

    .credits {
        position: absolute;
        z-index: 2;
    }

    .text {
        display: inline-block;
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
}
