@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    position: relative;
    overflow: hidden;

    .img {
        display: block;
        position: relative;
        pointer-events: none;
        user-select: none;
    }

    .showEmpty {
        @extend %empty;
        width: 300px;
        height: 200px;
        border: dashed 2px $gray-800;
        color: $gray-800;
    }
}
