.container {
    position: relative;
    overflow: hidden;

    .img {
        display: block;
        position: relative;
        pointer-events: none;
        user-select: none;
    }

    .showEmpty {
        margin: 5px auto;
        border: dashed 2px var(--mm-gray-800);
        color: var(--mm-gray-800);
        width: 300px;
        height: 200px;
        border: dashed 2px var(--mm-gray-800);
        color: var(--mm-gray-800);
    }
}
