@import '~@micromag/core/scss/variables';

%form-panel-description {
    margin-bottom: $spacer;
}

%form-panel-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: $spacer;

    * {
        margin-right: $spacer;

        &:last-child {
            margin-right: 0;
        }
    }
}
