// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    touch-action: none;

    // @note prevent specificity clashes
    p {
        margin-top: inherit;
        margin-bottom: inherit;
        font-weight: inherit;
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    text-align: center;
}

.emptyTitle,
.emptyText {
    @extend %empty;
    width: 100%;
    margin: 10px auto;
}

.emptyTitle {
    height: 100px;
}

.emptyText {
    height: 50px;
}

.placeholderButton {
    display: flex;
    width: 100%;
    background-color: $gray-800;
    mix-blend-mode: normal;
}

.grid {
    width: 75%;
}

.item {
    height: 100%;
}