.container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;

    width: 100%;
    height: 100%;

    &.reverse {
        flex-direction: column-reverse;

        &.row {
            flex-direction: row-reverse;
        }

        &.column {
            flex-direction: column-reverse;
        }
    }

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.axisTop {
        justify-content: flex-start;
    }

    &.axisBottom {
        justify-content: flex-end;
    }

    &.axisCenter {
        justify-content: center;
    }

    &.axisBetween {
        justify-content: space-between;
    }

    &.axisAround {
        justify-content: space-around;
    }

    &.axisEven {
        justify-content: space-evenly;
    }

    &.crossTop {
        align-items: flex-start;
    }

    &.crossBottom {
        align-items: flex-end;
    }

    &.crossCenter {
        align-items: center;
    }

    &.crossStretch {
        align-items: stretch;
    }
}

.item {
    position: relative;
    // width: 100%;
    // height: 100%;

    > * {
        // object-fit: cover;
        // width: 100%;
        // height: 100%;
    }
}
