@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';
@import '../placeholders';

.container {
    @extend %page-inner;

    .actions {
        padding: $spacer;
        border-radius: $border-radius;
        background: $gray-100;
    }

    @include media-breakpoint-up(md) {
        .actions {
            .button {
                width: 100%;
            }
        }
    }
}
