@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .inner {
        width: 100%;
        padding: 20px 15px;
    }

    .questionContainer {
        width: 100%;
        margin-bottom: 10px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .button {
        margin-right: 20px;
        padding: 5px 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .submitButton {
        display: block;
        margin: 10px auto;
    }

    .placeholder {
        width: 100%;
    }

    .buttonPlaceholder {
        width: 20%;
        margin-right: 2px;
        background-color: rgba(0, 0, 0, 0.5);

        &:last-child {
            margin-right: 0;
        }
    }

    .submitButtonPlaceholder {
        display: block;
        margin: 5px auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
