@import '~@micromag/core/src/styles/variables';
@import '~@micromag/core/src/styles/placeholders';
@import '~@micromag/core/src/styles/mixins';

.container {
    @extend %screen;

    .inner {
        width: 100%;
        padding: 20px 15px;
    }

    .questionContainer {
        width: 100%;
    }

    .question {
        //
    }

    .buttons {
        display: flex;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    .placeholder {
        width: 100%;
    }
}
