@import '~@micromag/core/src/styles/variables';
@import '~@micromag/core/src/styles/placeholders';
@import '~@micromag/core/src/styles/mixins';

.container {
    @extend %screen;

    .inner {
        width: 100%;
        padding: 20px 15px;
    }

    .questionContainer {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;

    }

    .buttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .yes,
    .no {
        padding: 5px 10px;
    }

    .yes {
        margin-right: 20px;
    }

    .placeholder {
        width: 100%;
    }
}
