@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    transition: transform 0.3s $ease-in-kickback;
    border: 0;
    border-radius: 10px;
    background-color: #1d3af2;
    user-select: none;
    -webkit-touch-callout: none;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));

    &:hover {
        z-index: 2;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

.placeholder {
    width: 30px;
    height: 30px;
    margin: 1px;
    background-color: $gray-400;
}

.thumbnail {
    max-height: 50px;
    pointer-events: none;
    user-select: none;
}

.name {
    width: 100%;
    margin-bottom: 0.4rem !important; // @todo fighting specificity because of Viewer styles
    padding: 2px 5px 0 !important;
    border-radius: 24px;
    background-color: #fffc00;
    box-shadow: 0 0 0 2px rgba(255, 250, 0, 0.6);
    color: #222;
    font-family: 'Agrandir Tight', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.date {
    color: #fffa00;
    font-family: 'Agrandir', sans-serif;
    font-size: 8px;
}

.arrow {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 20px;
    vertical-align: middle;
}

.emptyText {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}
