// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    position: relative;
}

.modalButton {
    @extend %reset-button;
}

.modal {
    margin: 52px 18px 30px;
    margin-right: 18px;
    margin-left: 18px;
    padding: 10px;
    border-radius: 22px;
    background-color: #0ff;
    box-shadow: 0 0 4px (#010f66);
    color: #1d3af2;
}

.name {
    padding: 7px auto 5px;
    font-family: 'Agrandir Tight', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.wordContainer {
    margin-bottom: 5px;
    padding: 6px 6px 3px;
    border: 1px solid #1d3af2;
    border-radius: 9px;
    text-transform: uppercase;
}

.wordOfTheWeek {
    padding-bottom: 2px;
    font-family: 'Agrandir Tight', sans-serif;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.03rem;
}

.word {
    font-family: 'Agrandir Narrow', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.description {
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.2;

    p {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.illustration {
    width: 75%;
    height: auto;
    margin: 0 auto;
    pointer-events: none;
}

.arrow {
    padding-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}
