@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %screen;

    .content {
        //
    }

    .empty {
        @extend %empty;
        @extend %empty-image;
    }

    .placeholder {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}
