@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %screen;

    .empty {
        @extend %empty;
        @extend %empty-image;
    }

    .inner {
        position: relative;
    }

    .placeholder {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .frame {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .iframe {
        width: 100%;
        height: 100%;
    }

    .previewBlock {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
