.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        z-index: 1;
    }

    .audio {
        position: absolute;
        bottom: 50%;
        left: 0;
        width: 100%;
        transform: translateY(50%);
    }

    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: transform 0.2s ease-out, padding 0.2s ease-out;

        > * {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .empty {
        width: 100%;
        height: 100px;
        border: dashed 2px var(--mm-gray-800);
        margin: 5px auto;
        margin: 0 auto;
        color: var(--mm-gray-800);
    }

    &.isPreview {
        pointer-events: none;
    }
}
