@import '~@micromag/core/src/styles/placeholders';

.container {
    @extend %screen;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .audio,
    .text,
    .image {
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }
}
