@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .mediaControls {
        padding: 10px 20px;
    }

    .audio {
        position: absolute;
        bottom: 50%;
        left: 0;
        width: 100%;
        transform: translateY(50%);
    }

    .bottomContent {
        position: relative;
    }

    .empty {
        @extend %empty;
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    &.isPreview {
        pointer-events: none;
    }
}
