@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .audio,
    .text,
    .image {
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }

    .audio {
        min-width: 300px;
    }

    .placeholder {
        margin: 2px;
    }

    .empty {
        margin: 5px auto;
    }
}
