.items,
.item {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    position: relative;

    .items {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        margin: -5px;
    }

    .item {
        position: relative;
        z-index: 2;
        display: block;
        width: 33.3%;
        padding: 5px;

        @media screen and (width >= 540px) {
            width: 20%;
        }
    }

    .button {
        display: block;
    }

    .preview,
    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: 0 0;
    }

    .screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .preview {
        background: rgba(#000, 0.9);
    }

    .settings {
        position: absolute;
        top: 0;
        right: 0;
    }

    &.noWrap {
        .items {
            flex-wrap: nowrap;
        }
    }

    &.isVertical {
        .items {
            flex-flow: column nowrap;
        }

        .item {
            width: 100%;
        }
    }

    &.withPlaceholder {
        .item {
            padding: 0;

            /* width: auto; */
            margin: 5px;
        }

        .button {
            width: 100px;
        }
    }
}
