@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.items,
.item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    position: relative;

    .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -5px;
        padding: 0;
    }

    .item {
        display: block;
        z-index: 2;
        width: 33.3%;        
        padding: 5px;

        // @include match-screen('medium') {
        @media screen and (min-width: 540px) {
            width: 20%;
        }
    }

    .button {
        display: block;
    }

    .preview,
    .placeholder {
        @extend %fullscreen;
        transform-origin: 0 0;
    }

    .screen {
        @extend %fullscreen;
    }

    .preview {
        background: $black;
    }

    &.noWrap {
        .items {
            flex-wrap: nowrap;
        }
    }

    &.isVertical {
        .items {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .item {
            width: 100%;
            
            .button {
                width: 100%;
            }
        }
    }
}
