@use 'sass:math';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;
}

.row {
    margin-bottom: $spacer * 2;

    .title {
        padding-bottom: math.div($spacer, 4);
        border-bottom: solid 1px $border-color;
        font-size: 0.85rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.screen {
    width: 100%;
    max-width: 100px;
}
