.container {
    .icon {
        display: block;
    }

    &.withoutStyle {
        position: relative;
        display: inline-block;
        padding: 0;
        border: 0;
        appearance: none;
        background: transparent;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
    }

    &.withIcon {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        .label {
            margin-left: 0.5em;
        }

        .right {
            margin-left: 0.5em;
        }
    }

    &.withIconColumns {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
}
