@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid $gray-500;
    border-radius: 100px;
    color: $gray-500;
    line-height: 1;

    .label {
        // Sometimes CKEditor adds a block element nested inside the badge
        * {
            display: inline;
        }
    }
}
