.container {
    position: relative;

    .items {
        position: relative;
        display: flex;
        height: 100%;
        align-items: stretch;
    }

    .cross {
        position: relative;
        display: flex;
    }

    .axis {
        position: relative;
    }
}
