.container {
    position: relative;

    .items {
        display: flex;
        position: relative;
        align-items: stretch;
        height: 100%;
    }
    
    .cross {
        display: flex;
        position: relative;
    }
    
    .axis {
        position: relative;
    }
}
