// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .content {
        z-index: 1;
    }

    .empty {
        @extend %empty;
        height: 100%;
        margin: 0;
    }

    .inner,
    .canvas,
    .canvasButton,
    .video {
        @extend %fullscreen;
    }

    .canvasButton {
        @extend %reset-button;
        touch-action: none;
    }

    .videoContainer {
        position: absolute;
    }

    .video {
        visibility: hidden;

        video {
            height: 100%;
        }
    }

    .mediaControls {
        padding: 10px 20px 20px;
    }

    .placeholder {
        @extend %fullscreen;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: transform 0.2s ease-out, padding 0.2s ease-out;

        > * {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.showVideo {
        .video {
            visibility: visible;
        }
    }
}
