@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import './variables';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;

    .image {
        max-width: 35px;
        margin-right: 10px;
    }

    .link {
        text-decoration: none;
    }

    .right {
        display: block;
    }

    .name {
        p {
            display: inline;
            margin: 0;
        }
    }

    .collaborator {
        background-color: transparent;

        .collaboratorText {
            font-size: inherit;

            p {
                display: inline;
            }
        }
    }
}
