@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import './variables';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;

    .image {
        max-width: 4em;

        margin-right: 10px;
    }

    .link {
        display: inline-block;
        color: currentColor;
    }

    .right {
        display: block;
    }

    .name,
    .collaborator {
        white-space: nowrap;
    }

    .name {
        p {
            display: inline;
            margin: 0;
        }
    }

    .collaborator {
        position: absolute;
        background-color: transparent;

        .collaboratorText {
            font-size: inherit;

            p {
                display: inline;
            }
        }
    }

    &.isSmall {
        font-size: 9px;

        .name {
            font-size: 9px;
            white-space: normal;
        }

        .image {
            max-width: 30px;
        }
    }

    &.withoutImage {
        .name {
            margin-left: 0;
            padding-left: 0;
        }

        .prefix {
            margin-right: 0;
            padding-right: 0.4em;
        }
    }
}
