@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %reset-button;
    padding: 5px 10px;
    border-radius: 0;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.1);

    // &:focus,
    // &.focus,
    // &:active,
    // &.active {
    //     box-shadow: none !important;
    // }

    &:focus-visible {
        outline: 2px solid #000 !important;
        box-shadow: 0 0 2px 0 var(--micromag-focus-color, #fff) !important;
    }

    &:disabled,
    &.disabled {
        cursor: auto;
    }

    &.rich {
        display: flex;
        align-items: center;
        gap: 10px;

        &.layoutLabelBottom {
            flex-direction: column;
        }

        &.layoutLabelTop {
            flex-direction: column-reverse;
        }

        &.layoutNoLabel {
            flex-direction: row;
        }

        &.layoutLabelLeft {
            flex-direction: row-reverse;
        }

        &.layoutLabelOver {
            position: relative;

            .text {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 10px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
            }
        }
    }
}

.emptyButton {
    padding: 10px 5px;
}

.border {
    display: block;
}

.visual {
    flex-grow: 1;
    flex-shrink: 0;
    overflow: auto;
}

.video {
    position: relative !important;
}
