@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %reset-button;
    padding: 5px 10px;
    border-radius: 0;
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.1);

    // &:focus,
    // &.focus,
    // &:active,
    // &.active {
    //     box-shadow: none !important;
    // }

    &:focus-visible {
        outline: 2px solid #000 !important;
        box-shadow: 0 0 2px 0 var(--micromag-focus-color, #fff) !important;
    }

    &:disabled,
    &.disabled {
        cursor: auto;
    }
}

.border {
    display: block;
}
