.container {
    position: relative;
    display: inline-block;
    padding: 0;
    padding: 5px 10px;
    border: 0;
    border-radius: 0;
    appearance: none;
    background: transparent;
    background-clip: padding-box;
    background-color: rgb(255 255 255 / 0.1);
    color: inherit;
    cursor: pointer;
    font-family: inherit;

    /* &:focus, */

    /* &.focus, */

    /* &:active, */

    /* &.active { */

    /* box-shadow: none !important; */

    /* } */

    &:focus-visible {
        box-shadow: 0 0 2px 0 var(--micromag-focus-color, #fff) !important;
        outline: 2px solid #000 !important;
    }

    &:disabled,
    &.disabled {
        cursor: auto;
    }

    &.rich {
        display: flex;
        align-items: center;
        gap: 10px;

        &.layoutLabelBottom {
            flex-direction: column;
        }

        &.layoutLabelTop {
            flex-direction: column-reverse;
        }

        &.layoutNoLabel {
            flex-direction: row;
        }

        &.layoutLabelLeft {
            flex-direction: row-reverse;
        }

        &.layoutLabelRight {
            flex-direction: row;
        }

        &.layoutLabelOver {
            position: relative;
            overflow: hidden;

            .text {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 10px;
                background: linear-gradient(to top, rgb(0 0 0 / 0.7), transparent);
            }
        }

        &.textFullWidth {
            .text {
                width: 100%;
            }
        }
    }
}

.emptyButton {
    padding: 10px 5px;
}

.border {
    display: block;
}

.visual {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.video {
    position: relative !important;
}
