@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %reset-button;
    padding: 5px 10px;
    border: 2px solid $black;
    border-radius: 0;

    &:focus,
    &.focus,
    &:active,
    &.active {
        box-shadow: none !important;
    }

    &:disabled,
    &.disabled {
        cursor: auto;
    }
}
