@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    .search {
        border-bottom: solid 1px $border-color;
    }

    .tags::-webkit-scrollbar {
        display: none;
    }

    &.filtersOpened {
        .search {
            border-bottom: 0;
        }

        .gallery,
        .tags {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &.metadataOpen {
        .search,
        .gallery,
        .tags {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
