.container {
    position: relative;
    overflow: hidden;

    .items {
        display: flex;
        height: 100%;
    }

    .item {
        position: relative;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}
