.container {
    position: relative;
    overflow: hidden;
    
    .items {
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .item {
        position: relative;
    }
}
