@import '~@micromag/core/src/styles/placeholders';
@import '~@micromag/core/src/styles/variables';
@import '~@micromag/core/src/styles/mixins';

.container {
    @extend %fullscreen;
    color: $gray-500;

    &.split {
        .inner {
            justify-content: space-between;
        }
    }

    .inner {
        @extend %fullscreen;
        display: flex;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
    }

    .top,
    .bottom {
        width: 100%;
    }

    .title,
    .subtitle,
    .description {
        display: block;
        width: 100%;
        text-align: center;
    }

    .background {
        @extend %fullscreen;
        z-index: 1;
    }
}

@include match-story-screen('medium') {
    .middle {
        max-width: 30rem;
    }
}
