@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %fullscreen;
    color: $gray-500;

    .inner {
        @extend %fullscreen;
        display: flex;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }

    .grid {
        width: 100%;
        height: 100%;
    }

    .group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .title,
    .subtitle,
    .description {
        display: block;
        width: 100%;
    }

    .background {
        @extend %fullscreen;
        z-index: 1;
    }

    .empty {
        width: 100%;
        margin: 5px auto;
    }

    &.center {
        text-align: center;

        .placeholder {
            @extend %placeholder-center;
        }
    }

    &.left {
        text-align: left;

        .placeholder {
            @extend %placeholder-left;
        }
    }

    &.right {
        text-align: right;

        .placeholder {
            @extend %placeholder-right;
        }
    }

    &.reverse {
        .inner {
            flex-direction: column-reverse;
        }
    }
}

@include match-story-screen('medium') {
    .middle {
        max-width: 30rem;
    }
}
