@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .empty {
        @extend %empty;
        width: 100%;
        height: 50px;
        margin: 5px auto;
    }

    .title,
    .subtitle {
        &.withMargin {
            margin-bottom: 0.2em;
        }
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}
