// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .content {
        z-index: 1;
    }

    .emptyTitle,
    .emptySubtitle,
    .emptyDescription {
        @extend %empty;
        width: 100%;
        margin: 10px auto;
    }

    .emptyTitle {
        height: 100px;
    }

    .emptySubtitle {
        height: 50px;
    }

    .emptyDescription {
        height: 50px;
    }

    .title,
    .subtitle {
        &.withMargin {
            margin-bottom: 0.2em;
        }
    }

    .box {
        padding: 0.5em;
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }

        .box {
            border: solid 2px rgba($white, 0.5);
            mix-blend-mode: difference;
        }
    }
}
