/* stylelint-disable max-nesting-depth */

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        z-index: 1;
    }

    .emptyTitle,
    .emptySubtitle,
    .emptyDescription {
        width: 100%;
        border: dashed 2px var(--mm-gray-800);
        margin: 10px auto;
        color: var(--mm-gray-800);
    }

    .emptyTitle {
        height: 100px;
    }

    .emptySubtitle {
        height: 50px;
    }

    .emptyDescription {
        height: 50px;
    }

    .title,
    .subtitle {
        &.withMargin {
            margin-bottom: 0.2em;
        }
    }

    .box {
        padding: 0.5em;
    }

    &.isPlaceholder {
        .layout {
            padding: var(--mm-screen-placeholder-padding, 1.5em);
        }

        .box {
            border: solid 2px rgb(255 255 255 / 0.5);
        }
    }
}
