@import '../variables';

.container {
    margin: 2px;

    .line {
        height: 16px;
        margin-bottom: 2px;
        background-color: rgba($black, 0.5);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
