@import '../variables';

.title {
    width: 80%;
}

.subtitle {
    width: 70%;
}

.description {
    width: 60%;
}

.text {
    width: 80%;
}

.image {
    width: 60%;
}

.icon {
    color: $white;
}
