@import '../variables';

.container {
    width: 100%;
    padding: 2px;

    &.withInvertedColors {
        mix-blend-mode: difference;
    }
}

.line {
    height: 16px;
    background-color: currentColor;

    .withInvertedColors & {
        background-color: rgba($white, 0.6);
    }
}
