.container {
    width: 100%;
    padding: 2px;

    &.withInvertedColors {
        mix-blend-mode: difference;
    }
}

.line {
    height: 16px;
    background-color: currentcolor;

    .withInvertedColors & {
        background-color: rgb(255 255 255 / 0.6);
    }
}
