@import '../variables';

.container {
    padding: 2px;
    mix-blend-mode: difference;

    .box {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background-color: rgba($white, 0.6);
    }

    &.outline {
        margin: 2px 0;
        border: 2px solid rgba($white, 0.6);

        .box {
            background-color: transparent;
        }
    }
}
