.container {
    padding: 2px;

    &.outline {
        border: 2px solid rgb(255 255 255 / 0.6);
        margin: 2px 0;
    }

    &.withInvertedColors {
        mix-blend-mode: difference;
    }
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: currentcolor;

    .withInvertedColors & {
        background-color: rgb(255 255 255 / 0.6);
    }

    .outline & {
        background-color: transparent;
    }
}
