.container {
    position: relative;
    padding-top: 5px;

    .label {
        display: inline-block;
        padding-right: 5px;
        font-weight: normal;
    }

    .dropdownToggle {
        position: relative;
        display: inline-block;
        padding: 0;
        border: 0;
        appearance: none;
        background: transparent;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
    }

    .dropdown {
        right: 0;
        left: auto;
    }
}
