.inactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    position: relative;

    .content {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .loading {
        display: block;
        margin: 0.5rem auto;
    }

    &.metadataOpened {
        .gallery {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(-100%, 0);
        }

        .mediaMetadata {
            position: static;
            width: auto;
            transform: translate(0, 0);
        }
    }
}
