// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    color: $white;

    .toggles {
        position: relative;
        color: currentColor;
    }

    .seekBar {
        margin-top : 10px;
    }

    .icon {
        //
    }

    .playPauseButton,
    .muteButton {
        @extend %reset-button;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
    }

    .playPauseButton {
        display: none;
        visibility: hidden;
        margin: 0 auto;
        border: 2px solid currentColor;
        border-radius: 50%;

        .icon {
            display: block;
            width: 40%;
            height: 40%;
            transform: translateX(5%);
        }
    }

    .muteButton {
        display: none;
        visibility: hidden;
        position: absolute;
        right: 0;
        bottom: 5px;
        width: 40px;
        height: 40px;

        .icon {
            display: block;
            width: 70%;
            height: 70%;
        }

        &::after {
            content: '';
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
            transform: rotate(-45deg);
            background-color: currentColor;
        }
    }

    &.playing {
        .playPauseButton {
            .icon {
                transform: none;
            }
        }
    }

    &.muted {
        .muteButton {
            display: flex;
            visibility: visible;

            &::after {
                display: block;
            }
        }
    }

    &.withSeekBar {
        //
    }

    &.withPlayPause {
        .playPauseButton {
            display: flex;
            visibility: visible;
        }

        .muteButton {
            top: 0;
            bottom: auto;
            margin-top: 5px;
        }
    }
}
