// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    .toggles {
        position: relative;
        color: $white;
    }

    .seekBar {
        margin-top : 10px;
    }

    .icon {
        filter: drop-shadow(0 0 6px rgb(0 0 0 / 0.2));
    }

    .playPauseButton,
    .muteButton {
        @extend %reset-button;

        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    .playPauseButton {
        border: 2px solid $white;
        margin: 0 auto;
        border-radius: 50%;
        visibility: hidden;

        .icon {
            display: block;
            width: 40%;
            height: 40%;
            transform: translateX(5%);
        }
    }

    .muteButton {
        position: absolute;
        top: 50%;
        right: 0;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        visibility: hidden;

        .icon {
            display: block;
            width: 70%;
            height: 70%;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 50%;
            display: none;
            width: 2px;
            height: 100%;
            margin-left: -1px;
            background-color: $white;
            content: '';
            transform: rotate(-45deg);
        }
    }

    &.playing {
        .playPauseButton {
            .icon {
                transform: none;
            }
        }
    }

    &.muted {
        .muteButton {
            visibility: visible;

            &::after {
                display: block;
            }
        }
    }

    &.withPlayPause {
        .playPauseButton {
            visibility: visible;
        }
    }
}
