@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;

    .inner {
        position: relative;
        flex-grow: 1;
        height: 16px;
    }

    .time {
        font-size: 0.9em;
        text-shadow: 0 0 6px rgb(0 0 0 / 0.3);

        &:first-child {
            padding-right: 4px;
        }

        &:last-child {
            padding-left: 4px;
        }
    }

    .progressBar {
        position: relative;
        top: 7px;
        box-shadow: 0 0 6px rgb(0 0 0 / 0.3);
    }

    .progress,
    .button {
        @extend %fullscreen;
    }

    .progress {
        position: relative;
        height: 2px;
        transform-origin: left center;
    }

    .button {
        @extend %reset-button;

        height: 100%;
        background-color: transparent;
    }

    &.withTime {
        display: flex;
        align-items:center;
    }
}
