@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;
    height: 2px;

    .progress,
    .button {
        @extend %fullscreen;
    }

    .progress {
        position: relative;
        transform-origin: left center;
    }

    .button {
        @extend %reset-button;

        box-shadow: 1px 1px 6px rgb(0 0 0 / 20%);
    }
}
