@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    .input {
        background-color: $gray-900;

        &:focus, &.active {
            outline: none !important;
            background-color: $gray-900 !important;
            box-shadow: none !important;
            color: $white !important;
        }

        ::placeholder {
            background-color: $gray-900 !important;
        }
    }
}
