@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;
    width: 100%;
    overflow: hidden;

    .section {
        overflow-x: scroll;
        border-bottom: 1px solid $gray-500;

        &:last-child {
            border-bottom: 0;
        }
    }

    .title {
        color: $gray-500;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
}
