.container {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;

    .closeBtn {
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border: 0 !important;
        transition: opacity 0.15s ease-out;

        &:hover {
            opacity: 0.8;
        }
    }

    .section {
        border-bottom: 1px solid var(--mm-gray-500, #adadad);

        &:last-child {
            border-bottom: 0;
        }
    }

    .title {
        color: var(--mm-gray-500, #adadad);
        font-size: var(--mm-font-size-sm);
        font-weight: var(--mm-font-weight-bold);
        text-transform: uppercase;
    }

    .tags {
        overflow-x: auto;
    }
}
