.container {
    position: relative;

    .input {
        background-color: var(--mm-gray-900, #2b2b2b);

        &:focus,
        &.active {
            background-color: var(--mm-gray-900, #2b2b2b) !important;
            box-shadow: none !important;
            color: var(--mm-white, #fff) !important;
            outline: none !important;
        }

        ::placeholder {
            background-color: var(--mm-gray-900, #2b2b2b) !important;
        }
    }
}
