@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %reset-button;
    padding: 8px 12px;
    border : 1px solid #FFF;
    line-height: 1.2;

    &:hover, &:active {
        background-color: var(--color-primary, #0b57d0);
        color: #FFF;
    }
}
