// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    align-items: flex-start;

    .emptyTitle,
    .emptyText {
        @extend %empty;
        width: 100%;
        margin: 10px auto;
    }

    .emptyTitle {
        height: 100px;
    }

    .emptyText {
        height: 50px;
    }

    .textCard {
        display: flex;
        flex-direction: column;
        border: 2px solid #000;
        border-radius: 17px;
        box-shadow: 0 3px 34px rgba(0, 0, 0, 0.43);
        color: #000;
        text-align: center;

        &.isPlaceholder {
            height: 200px;
            background-color: $gray-500;
        }

        &.appear {
            animation: appear 1s ease-in-out;
            animation-delay: 0.9s;
            opacity: 0;
            animation-fill-mode: forwards;
        }
    }

    .category {
        padding: 12px 10px 6px;
        border-bottom: 2px solid #000;
        background-color: #ff4f46;
        color: #fff;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 28px;
        font-weight: 900;
        text-transform: uppercase;

        &.noBottomBorder {
            border-bottom: 0;
        }
    }

    .categoryPlaceholder {
        padding: 10px;
        background-color: $gray-800;
    }

    .dateTitleRow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #fff;

        &.bottomBorder {
            border-bottom: 2px solid #000;
        }

        &.isPlaceholder {
            margin-left: 2px;
            padding: 10px;
            background-color: $gray-200;
        }
    }

    .dateContainer {
        flex-grow: 1;
        min-width: 30%;
        max-width: 50%;
        height: inherit;
        padding: 15px 10px;
        text-align: center;
        overflow-wrap: break-word;

        &.rightBorder {
            border-right: 2px solid #000;
        }

        strong {
            white-space: nowrap;
        }
    }

    .date {
        color: #ff4f46;
        font-family: 'Agrandir', sans-serif;
        font-size: 12px;
        line-height: 1;

        &.centerDate {
            text-align: center;
        }
    }

    .titleContainer {
        min-width: 50%;
        max-width: 70%;
        overflow-wrap: break-word;

        &.leftBorder {
            margin-right: -2px;
            margin-left: -2px;
            border-left: 2px solid #000;
        }
    }

    .title {
        padding: 15px 20px 11px;
        font-family: 'Agrandir Narrow', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
    }

    .sponsor {
        padding: 5px 10px 3px;
        background-color: #fffc00;
        font-family: 'Agrandir', sans-serif;
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;

        > p {
            margin-top: 0;
            margin-bottom: 0;
        }

        &.bottomBorder {
            border-bottom: 2px solid #000;
        }
    }

    .sponsorPlaceholder {
        padding: 10px;
    }

    .description {
        padding: 10px;
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        text-align: left;

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .descriptionPlaceholder {
        padding: 10px;
        padding-bottom: 30px;
    }

    .background {
        animation: roll 0.9s ease-out;
        animation-fill-mode: forwards;
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}

@keyframes roll {
    0% {
        background-position-y: -50vh;
    }

    100% {
        background-position-y: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
