// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    align-items: flex-start;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .backgroundTextContainer {
        @extend %fullscreen;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .backgroundText {
        height: 100%;
        transform: rotate(180deg);
        color: #f28d77;
        font-family: 'Agrandir', sans-serif;
        font-size: 100px;
        font-style: italic;
        font-weight: 900;
        line-height: 0.9;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        writing-mode: vertical-lr;

        &.didAnimate {
            transform: rotate(180deg);
        }

        &.animateFromBottom {
            transform: translateY(100%) rotate(180deg);
            animation: slideFromBottom 1.2s cubic-bezier(0.85, 0, 0.15, 1);
            opacity: 0;
            animation-fill-mode: forwards;
        }

        &.animateFromTop {
            transform: translateY(-100%) rotate(180deg);
            animation: slideFromTop 1.2s cubic-bezier(0.85, 0, 0.15, 1);
            opacity: 0;
            animation-fill-mode: forwards;
        }
    }

    .content {
        z-index: 1;
    }

    .empty,
    .emptyText {
        @extend %empty;
        width: 100%;
    }

    .emptyText,
    .emptyVisual {
        height: 50px;
    }

    .emptySponsor,
    .emptyVisual {
        width: calc(100% - 10px);
    }

    .emptySponsor {
        padding: 5px;
    }

    .emptyCategory {
        @extend %empty;
        position: absolute;
        top: calc(100% - 24px);
        left: 10px;
        height: 20%;
        padding: 10px;
        transform: rotate(270deg);
        transform-origin: 0 0;
    }

    .footer {
        z-index: 1;
        transition: opacity 0.2 ease-out;

        &.disabled {
            opacity: 0;
        }
    }

    .close {
        @extend %reset-button;
        position: absolute;
        z-index: 3;
        top: 10px;
        right: 10px;
        color: #000;
    }

    .closeIcon {
        width: 1.5em;
        height: 1.5em;
    }

    .textCard {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        color: #000;

        &.isPlaceholder {
            background-color: $gray-500;
        }

        &.appear {
            animation: appear 0.5s cubic-bezier(0.65, 0, 0.35, 1);
            animation-delay: 1s;
            opacity: 0;
            animation-fill-mode: forwards;
        }

        &.visualBottom {
            flex-direction: column-reverse;

            .visualContainer {
                flex-direction: column-reverse;
            }
        }
    }

    .visualContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-height: 250px;
        overflow: hidden;

        &.modalOpened {
            max-height: none;
            overflow: auto;
        }
    }

    .sponsor {
        width: 100%;
        padding: 5px 10px 3px;
        background-color: #fffc00;
        font-family: 'Agrandir', sans-serif;
        font-size: 10px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

        &.hasVisual {
            position: absolute;
        }
    }

    .sponsorPlaceholder {
        padding: 10px;
    }

    .visualWrapper {
        position: relative;
        width: 100%;
        height: 100%;
        transition: background-color 0.4s cubic-bezier(0.36, 0, 0.66, -0.56);
        background-color: rgba(34, 34, 34, 0);
        backdrop-filter: blur(0);

        &.modalOpened {
            display: flex;
            position: fixed;
            z-index: 2;
            top: 50%;
            left: 50%;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50%);
            background-color: rgba(34, 34, 34, 0.9);
            backdrop-filter: blur(0.25rem);
        }
    }

    .visualButton {
        @extend %reset-button;
        width: 100%;
    }

    .visual {
        transition: width 0.4s cubic-bezier(0.36, 0, 0.66, -0.56);
    }

    .text {
        display: flex;
        position: relative;
    }

    .categoryContainer {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        transform: rotate(270deg);
        transform-origin: 0 0;
        white-space: nowrap;
    }

    .category {
        padding: 12px 10px 6px;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 28px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
    }

    .categoryPlaceholder {
        width: 20%;
        padding: 10px;
        background-color: $gray-800;
    }

    .textContent {
        position: relative;
        width: 80%;

        margin-left: auto;
        padding: 14px 8px 14px 0;

        &.isPlaceholder {
            margin-left: 2px;
            padding: 10px;
            background-color: $gray-200;
        }
    }

    .titleContainer {
        overflow-wrap: break-word;
    }

    .title {
        border-bottom: 1px solid #000;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .date,
    .location {
        padding-top: 3px;
        border-bottom: 1px solid #000;
        font-family: 'Agrandir Tight', sans-serif;
        text-transform: uppercase;
    }

    .date {
        font-size: 14px;
    }

    .location {
        font-size: 12px;
        font-weight: 700;
    }

    .date,
    .location,
    .sponsor {
        > p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .description {
        padding-top: 3px;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 12px;
        font-weight: 300;

        p {
            margin-bottom: 0.5em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .descriptionPlaceholder {
        padding: 10px;
        padding-bottom: 30px;
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%) rotate(180deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(180deg);
        opacity: 1;
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%) rotate(180deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(180deg);
        opacity: 1;
    }
}
