@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;
    text-align: center;

    .inner {
        width: 100%;
    }

    .innerContainer {
        padding: 30px 0;
    }

    .questionContainer {
        width: 100%;
        margin-bottom: 10px;
    }

    .buttons {
        // padding: 20px 0;
    }

    .button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
        text-align: left;

        &.selected {
            border: 2px solid $gray-700;
        }
    }

    .label {
        display: flex;
        align-items: center;
    }

    .submitButton {
        padding: 10px;
    }

    .placeholder {
        width: 80%;
        margin-bottom: 2px;
    }

    .buttonPlaceholder {
        display: block;
        width: 80%;
        margin-bottom: 4px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .submitButtonPlaceholder {
        display: block;
        width: 20%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
