@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .inner {
        width: 100%;
        padding: 10px 15px;
    }

    .questionContainer {
        width: 100%;
        margin-bottom: 10px;
    }

    .question {
        //
    }

    .buttons {
        position: relative;
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
    }

    .label {
        display: flex;
        align-items: center;
    }

    .letter {
        margin-right: 5px;
    }

    .submitButton {
        display: block;
        width: auto;
        margin: 0 auto;
    }

    .placeholder {
        width: 100%;
        margin-bottom: 1px;
    }

    .buttonPlaceholder {
        display: block;
        width: 100%;
        margin-bottom: 2px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .submitButtonPlaceholder {
        display: block;
        margin: 0 auto;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
