@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin background-grid($size: 30px, $color: black, $background: white) {
    background-color: $background;
    background-image: linear-gradient(
            45deg,
            $color 25%,
            transparent 25%,
            transparent 75%,
            $color 75%,
            $color
        ),
        linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color);
    background-position: 0 0, $size $size;
    background-size: ($size * 2) ($size * 2);
}

@mixin match-story-screen($size: 'mobile') {
    :global(.story-screen-#{$size}) {
        @content;
    }
}

@mixin match-screen($size: 'mobile') {
    .screen-#{$size}) {
        @content;
    }
}
