$white: #fff;
$font-weight-normal: 400;
$purple: #A13DFF;
$primary: $purple;
$gray-200: #e9e9e9;
$secondary: $gray-200;
$green: #0ED88F;
$gray-100: #f5f5f5;
$input-bg: rgba($white, 0.07);
$gray-300: #dedede;
$gray-400: #B3B3B3;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$font-family-sans-serif: "Libre Franklin",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-bold: 600;
$red: #ff2945;
$yellow: #ffe535;
$blue: #2151ff;
$info: $blue;
$component-active-bg: $primary;
$link-color: $primary;
$btn-disabled-opacity: .4;
$input-disabled-bg: rgba($white, 0.04);
$input-placeholder-color: $gray-500;
$custom-control-indicator-bg: $gray-200;
$custom-control-indicator-border-width: 1px;
$custom-control-indicator-border-color: $gray-200;
$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$badge-font-weight: $font-weight-normal;
$badge-padding-x: .8em;
$badge-padding-y: .4em;
$badge-pill-padding-x: .8em;
$list-group-hover-bg: $gray-200;
$black: #1C1C1C;
$body-bg: $black;
$input-border-width: 0;
$body-color: $gray-100;
$input-color: $white;
$input-btn-focus-color: rgba($component-active-bg, .4);
$input-group-addon-bg: rgba($white, 0.12);
$pagination-bg: rgba($white, 0.07);
$pagination-border-width: 0;
$pagination-hover-bg: rgba($white, 0.12);
$pagination-hover-color: $link-color;
$pagination-disabled-bg: rgba($white, 0.04);
$card-bg: rgba($white, .07);
$card-border-color: rgba($white, .13);
$card-border-width: 0;
$card-cap-bg: rgba($white, .07);
$list-group-bg: transparent;
$list-group-border-color: rgba($white, .13);
$gray-900: #2B2B2B;
$modal-content-bg: $gray-900;
$modal-header-border-color: rgba($white, 0.12);
$line-height-base: 1.4;
$font-size-base: 0.9rem;
$headings-font-weight: 600;
$text-muted: rgba($white, 0.4);
$hr-border-color: rgba($white, .1);
$btn-font-weight: $font-weight-bold;
$input-btn-padding-y: .5rem;
$btn-padding-x: 1rem;
$input-btn-padding-x-lg: 1.3rem;
$input-btn-padding-x-sm: .75rem;
