@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$black: #000;
$font-weight-bolder: bolder;
$font-weight-bold: bold;
$enable-shadows: true;
$enable-gradients: true;
$enable-hover-media-query: true;
$gray-100: #f8f9fb;
$gray-200: #eaebf1;
$gray-300: #dfe1e9;
$gray-500: #afb3c4;
$gray-600: #70718a;
$gray-700: #4d4b68;
$gray-800: #383551;
$gray-900: #242135;
$body-bg: $gray-900;
$font-family-sans-serif: Libre Franklin;
$font-family-base: Libre Franklin;
$spacer: 0.8rem;
$table-bg-level: -3;
$table-border-level: -2;
$font-size-base: 0.8rem;
$indigo: #6633ff;
$purple: #6600de;
$green: #33cc66;
$yellow: #ffcc00;
$red: #ff0033;
$teal: #00cccc;
$cyan: #0099ff;
$primary: $indigo;
$font-weight-base: $font-weight-bolder;
$btn-font-weight: $font-weight-bold;
$list-group-color: $black;
$jumbotron-color: $gray-900;
$jumbotron-bg: $gray-300;
$body-color: $gray-100;
$modal-content-color: $gray-900;
$alert-bg-level: -4;
$alert-border-level: -2;
$alert-color-level: 8;
// $card-cap-color: $gray-900;
// $card-color: $gray-900;
$nav-tabs-link-active-color: $gray-100;
$nav-tabs-link-active-bg: $indigo;
$nav-link-padding-x: 0.8rem;
