@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/**
 * Colors
 */

$color-white: #fff;
$color-black: #000;
$color-gray: darken($color-white, 20%);

$color-background: $color-white;
$color-text: $color-black;
$color-disabled: $color-gray;

/**
 * Fonts
 */

$font-text: Helvetica, Arial, sans-serif;
$font-title: Georgia, serif;
