/* For Chrome, Safari, and newer Edge */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.no-scrollbar {
    scrollbar-width: none;
}

/* For IE and old Edge */
.no-scrollbar {
    -ms-overflow-style: none;
}
