/* stylelint-disable selector-class-pattern */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.no-selection {
    user-select: none;
}

.btn-xs {
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.15rem;
    --bs-btn-font-size: 0.6rem;
}
