/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        z-index: 2;
    }

    &.disabled {
        pointer-events: none;
    }
}

.reset {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 10px;
    border: 0;
    background-color: transparent;
    transform-origin: center;
    transition:
        opacity 0.15s ease-out,
        transform 0.15s ease-out;

    &:hover {
        border: 0;
        opacity: 0.8;

        &:active {
            transform: rotate(30deg);
        }
    }
}

.points {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 10px;
    color: var(--mm-white, #fff);
}

.layout {
    position: absolute;
    inset: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.2s ease-out;

    &.disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.2s ease-out;

    a {
        padding: 0;
    }

    &.disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.transition {
    position: absolute;
    inset: 0;
}

.nextButton,
.question,
.results,
.intro {
    overflow: hidden;
}

.nextButton {
    &:focus-visible {
        outline: 3px solid var(--mm-purple);
        outline-offset: 4px;
    }

    position: relative;
    width: 100%;
    padding: 10px;
    color: var(--mm-white, #fff);

    &:disabled {
        opacity: 1;
        pointer-events: none;
    }

    .withIcon & {
        padding-right: 5%;
        padding-left: 5%;
    }
}
