// stylelint-disable max-nesting-depth
// stylelint-disable no-descending-specificity

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .content {
        z-index: 2;
    }

    &.disabled {
        pointer-events: none;
    }
}

.reset {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 10px;
    transform-origin: center;
    transition: opacity 0.15s ease-out, transform 0.15s ease-out;
    border: 0;

    &:hover {
        border: 0;
        opacity: 0.8;

        &:active {
            transform: rotate(30deg);
        }
    }
}

.points {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 10px;
    color: $white;
}

.layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.callToAction {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.2s ease-out;

    a {
        padding: 0;
    }

    &.disabled {
        opacity: 0;
        pointer-events: none;
    }
}

.transition {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.question,
.results,
.intro {
    overflow: hidden;

    &.enter {
        transform: translateX(100%);

        .left & {
            transform: translateX(-100%);
        }
    }

    &.enterActive,
    .left &.enterActive {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        transform: translateX(0);
        transition: transform 1s ease;
    }

    &.exit {
        transform: translateX(0);
    }

    &.exitActive {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        transform: translateX(-100%);
        transition: transform 1s ease;

        .left & {
            transform: translateX(100%);
        }
    }
}

.background {
    &.enter {
        opacity: 0;
    }

    &.enterActive {
        z-index: 1;
        transition: opacity 1s ease;
        opacity: 1;
    }

    &.exit {
        opacity: 1;
    }

    &.exitActive {
        z-index: 0;
        transition: opacity 1s ease;
        opacity: 0;
    }
}
