@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .question {
        margin-bottom: 10px;
    }

    .answers,
    .items {
        position: relative;
    }

    .item {
        padding: 5px 0;
        transition-property: opacity;
        transition-duration: 0.15s;
        transition-timing-function: ease;

        &.rightAnswer {
            transition-property: transform;

            // &.userAnswer {
            .resultIcon {
                background-color: $green;
            }
            // }
        }
    }

    .button {
        position: relative;
        width: 100%;
        padding: 10px;
        border: 2px solid $gray-600;

        &:disabled {
            opacity: 1;
            pointer-events: none;
        }
    }

    .resultIcon {
        display: block;
        position: absolute;
        top: 50%;
        left: 5px;
        width: 32px;
        height: 32px;
        margin-top: -16px;
        padding: 5px;
        transition: opacity 0.15s ease;
        border: 2px solid $black;
        border-radius: 50%;
        opacity: 0;
        background-color: $red;
    }

    .result {
        position: absolute;
        padding: 20px 0;
        transition: opacity 0.5s ease;
        opacity: 0;
        pointer-events: none;
    }

    .empty {
        @extend %empty;
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    &.answered {
        .resultIcon {
            opacity: 1;
        }
    }

    &.showResults {
        .item {
            opacity: 0;

            &.rightAnswer {
                opacity: 1;
            }
        }
    }

    &.answerTransitionComplete {
        .item {
            &.rightAnswer {
                transition: none;
            }
        }

        .result {
            position: relative;
            opacity: 1;
            pointer-events: all;
        }
    }
}
