@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .question {
        margin-bottom: 20px;
    }

    .options,
    .answer {
        position: relative;
    }

    .option {
        padding: 10px 0;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-timing-function: ease;

        &.answer {
            transition-property: transform;
        }
    }

    .button {
        position: relative;
        width: 100%;
        padding: 10px;
    }

    .resultIcon {
        position: absolute;
        top: 50%;
        left: 0;
        width: 32px;
        height: 32px;
        margin-top: -16px;
        padding: 5px;
        border: 1px solid $black;
        border-radius: 50%;
    }

    .result {
        position: absolute;
        padding: 20px 0;
        transition: opacity 0.5s ease;
        opacity: 0;
        pointer-events: none;
    }

    &.answered {
        .option {
            opacity: 0;
            
            &.answer {
                opacity: 1;
            }
        }

        .button {
            pointer-events: none;
        }
    }

    &.answerTransitionComplete {
        .option {
            &.answer {
                transition: none;
            }
        }

        .result {
            position: relative;
            opacity: 1;
            pointer-events: all;
        }
    }
}
