// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
