@import '~@micromag/core/scss/variables';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s $ease-in-out-sine;

    &.fade {
        opacity: 0.25;
    }
}
