@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .video {
        display: inline-block;
        max-width: 100%;
    }

    &.center {
        text-align: center;

        .placeholder {
            @extend %placeholder-center;
        }
    }

    &.left {
        text-align: left;

        .placeholder {
            @extend %placeholder-left;
        }
    }

    &.right {
        text-align: right;

        .placeholder {
            @extend %placeholder-right;
        }
    }

    &.reverse {
        .inner {
            flex-direction: column-reverse;
        }
    }

    .placeholderVideo {
        margin-bottom: 5px;
    }
}

.image,
.video {
    display: block;
    margin: 0 auto;
}
