@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .video {
        display: inline-block;
        max-width: 100%;
    }

    .empty {
        @extend %empty;
        width: 100%;
        height: 50px;
        margin: 5px auto;
    }

    &.center {
        text-align: center;

        .placeholder {
            @extend %placeholder-center;
        }
    }

    &.left {
        text-align: left;

        .placeholder {
            @extend %placeholder-left;
        }
    }

    &.right {
        text-align: right;

        .placeholder {
            @extend %placeholder-right;
        }
    }

    &.reverse {
        .inner {
            flex-direction: column-reverse;
        }
    }

    .placeholderVideo {
        margin: 10px 0;
    }
}

.image,
.video {
    display: block;
    margin: 0 auto;
    padding: 10px;
}
