/* stylelint-disable max-nesting-depth */

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        z-index: 1;
    }

    .empty {
        height: 100%;
        border: dashed 2px var(--mm-gray-800);
        margin: 5px auto;
        margin: 0;
        color: var(--mm-gray-800);
    }

    .inner,
    .canvas,
    .canvasButton,
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .canvasButton {
        position: relative;
        display: inline-block;
        padding: 0;
        border: 0;
        appearance: none;
        background: transparent;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
        touch-action: none;
    }

    .videoContainer {
        position: absolute;
    }

    .video {
        visibility: hidden;

        video {
            height: 100%;
        }
    }

    .mediaControls {
        padding: 10px 20px 20px;
    }

    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .header {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
    }

    .footer {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &.showVideo {
        .video {
            visibility: visible;
        }
    }
}
