/* stylelint-disable max-nesting-depth */

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .question {
        margin-bottom: 20px;
    }

    .answers,
    .items {
        position: relative;
    }

    .item {
        padding: 5px 0;

        &:first-child {
            .placeholderAnswer {
                width: 80%;
            }
        }

        &:last-child {
            .placeholderAnswer {
                width: 90%;
            }
        }
    }

    .itemContent {
        display: flex;
        align-items: center;
    }

    .resultBar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(255,255,255,0.2);
    }

    .resultLabel {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 0;
        width: 4em;
        padding: 0 8px;
        transform: translateY(-50%);
        color: $white;
        text-align: right;
    }

    .itemInner {
        width: 100%;
    }

    .button {
        display: flex;
        position: relative;
        width: 100%;
        padding: 0;
        overflow: hidden;
        transition: opacity 500ms ease-out;

        &:disabled {
            opacity: 1;
            pointer-events: none;
        }
    }

    .itemLabel {
        display: inline-block;
        width: 100%;
        padding: 10px;
        transition: margin-left 300ms ease-out, transform 300ms ease-out;
    }

    .itemText {
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: margin-left 300ms ease-out, transform 300ms ease-out;
    }

    .emptyQuestion,
    .emptyAnswer {
        @extend %empty;
        width: 100%;
        margin: 0 auto;
    }

    .emptyQuestion {
        height: 75px;
    }

    .emptyAnswer {
        height: 50px;
    }

    .userAnswer {
        .button,
        .result,
        .resultLabel {
            opacity: 1 !important;
        }
    }

    &.answered {

        line-height: 1;

        .resultContainer {
            padding-right: 50px;
            padding-left: 15px;
        }

        .resultContent {
            width: 100%;
            opacity: 1;
        }

        .button {
            border-color: transparent;
            background-color: transparent;
        }

        .button,
        .result,
        .resultLabel {
            opacity: 0.6;
        }

        .itemLabel {
            margin-right: 0;
            margin-left: 0;
            text-align: left;
        }

        &.withPercentage {
            .itemText {
                transform: translate(-2em, 0);
            }
        }
    }

    &.withPercentage {
        .itemLabel {
            margin-right: 2em;
            margin-left: 2em;
        }
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }

        .item {
            padding: 1px 0;
        }
    }
}
