.container {
    position: relative;
    width: 100%;

    .items {
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-radius: 0;
        background: transparent;
        white-space: nowrap;
    }
}
