.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #222;
    font-family: Agrandir, sans-serif;
    vertical-align: center;

    .image {
        width: 2.5em;
    }

    .link {
        display: inline-block;
        color: #222;
        text-decoration: none;
    }

    .right {
        display: block;
    }

    .name,
    .prefix {
        min-height: 20px;
    }

    .name,
    .prefix,
    .collaborator {
        background-color: #efefef; /* var(--mm-gray-200, #e9e9e9); */
        font-family: Agrandir, sans-serif;
        font-size: 10px;
        letter-spacing: 0.04em;
        line-height: 1;
        white-space: nowrap;
    }

    .name {
        padding: 6px 8px 3px 13px;
        margin-left: -7px;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;

        p {
            display: inline;
            margin: 0;
            font-size: inherit;
            font-weight: inherit;
            text-transform: inherit;
        }
    }

    .collaborator {
        position: absolute;
        padding-top: 2px;
        background-color: transparent;
        color: var(--mm-white, #fff);

        .collaboratorText {
            padding-left: 7.3px;
            font-size: 0.9em;
            line-height: 1;

            /* stylelint-disable-next-line selector-max-compound-selectors */
            p {
                display: inline;
                font-size: inherit;
                line-height: inherit;
            }
        }
    }

    .prefix {
        padding: 6px 12px 3px 8px;
        margin-right: -5px;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
    }

    &.isSmall {
        font-size: 9px;

        .name,
        .prefix {
            font-size: 9px;
            white-space: normal;
        }

        .image {
            max-width: 2.2em;
        }
    }

    &.withoutImage {
        .name {
            padding-left: 0;
            margin-left: 0;
        }

        .prefix {
            padding-right: 0.4em;
            margin-right: 0;
        }
    }

    &.withoutBackground {
        .name,
        .prefix,
        .collaborator {
            background-color: transparent;
        }
    }
}
