@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import './variables';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-black;
    font-family: 'Agrandir';
    vertical-align: center;

    .image {
        min-width: 2.2em;
        max-width: 4em;
    }

    .link {
        display: inline-block;
        color: $color-black;
        text-decoration: none;
    }

    .right {
        display: block;
    }

    .name, .prefix {
        min-height: 20px;
    }

    .name, .prefix, .collaborator {
        display: block;
        background-color: #efefef; // $gray-200;
        font-family: 'Agrandir';
        font-size: 10px;
        letter-spacing: 0.04em;
        line-height: 1;
        white-space: nowrap;
    }

    .name {
        margin-left: -7px;
        padding: 3px 8px 3px 13px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;

        p {
            display: inline-block;
            margin: 0;
            padding: 3px 0 0;
            font-size: inherit;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
        }
    }

    .collaborator {
        position: absolute;
        padding-top: 2px;
        background-color: transparent;
        color: $white;

        .collaboratorText{
            padding-left: 7.3px;
            font-size: inherit;

            p {
                display: inline;
                font-size: 0.9em;
                line-height: 1;
            }
        }
    }

    .prefix {
        margin-right: -5px;
        padding: 3px 12px 3px 8px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;

        span {
            display: inline-block;
            padding: 3px 0 0;
            font-size: inherit;
            line-height: 1;
        }
    }

    &.withoutAvatar {

    }

    &.isSmall {
        font-size: 9px;

        .name, .prefix {
            font-size: 9px;
            white-space: normal;
        }

        .image {
            max-width: 30px;
        }
    }

    &.withoutImage {
        .name {
            margin-left: 0;
            padding-left: 0;
        }

        .prefix {
            margin-right: 0;
            padding-right: 0.4em;
        }
    }
}
