@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {
    .icon {
        display: block;
    }

    &.withoutStyle {
        @extend %reset-button;
    }

    &.withIcon {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        .label {
            margin-left: 0.5em;
        }
    }

    &.withIconColumns {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }
}
