@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {

    &:focus {
        box-shadow: none;
    }

    .icon {
        @extend %transition-bump;
        display: block;
    }

    .label {
        @extend %transition-bump;
    }

    &.withoutStyle {
        @extend %reset-button;
    }

    &.asLink {
        @extend %reset-button;
        color: $primary;
        font-weight: bold;
    }

    &.withIcon {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        /* stylelint-disable */
        .label {
            margin-left: 0.5em;
        }

        .right {
            margin-left: 0.5em;
        }
        /* stylelint-enable */
    }

    &.withIcon.withAnimations {
        @media (hover: hover) {
            &:hover {
                .icon {
                    transform: scale(1.2);
                }
                .label {
                    transform: translateX(0.25rem);
                }
            }
        }

        &:active {
            .icon {
                transform: scale(0.9);
            }
        }
    }

    &.withIcon.withAnimations.icon-right {
        @media (hover: hover) {
            &:hover {
                .label {
                    transform: translateX(-0.25rem);
                }
            }
        }
    }

    &.withIconColumns {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    &.linkDisabled {
        opacity: 0.4;
        text-decoration: none;
        pointer-events: none;
    }
}
