@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {
    // &:focus {
    //     box-shadow: none;
    // }

    .icon {
        position: relative;
        display: block;
    }

    .icon,
    .label {
        transition: transform 0.3s $ease-out-ramp;
    }

    &.withoutStyle {
        @extend %reset-button;
    }

    &.asLink {
        @extend %reset-button;
        color: $primary;
        font-weight: bold;
    }

    &.withIcon {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        /* stylelint-disable */
        .label {
            margin-left: 0.5em;
            transform-origin: 0 50%;
        }

        .right {
            margin-left: 0.5em;
        }
        /* stylelint-enable */
    }

    &.withIcon.withAnimations.icon-right {
        .label {
            transform-origin: 100% 50%;
        }
    }

    &.withIcon.withAnimations {
        @media (hover: hover) {
            &:hover {
                .icon,
                .label {
                    transform: scale(1.1);
                    transition: transform 0.3s $ease-in-yo;
                }
            }
        }

        &:active {
            .icon,
            .label {
                transform: scale(1);
                transition: transform 0.3s $ease-in-kickback;
            }
        }
    }

    &.withIconColumns {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    &.linkDisabled {
        opacity: 0.4;
        text-decoration: none;
        pointer-events: none;
    }
}
