.container {
    .icon {
        position: relative;
        display: block;
    }

    .icon,
    .label {
        transition: transform 0.3s var(--mm-ease-out-ramp, 'ease-out');
    }

    &.withoutStyle {
        position: relative;
        display: inline-block;
        padding: 0;
        border: 0;
        appearance: none;
        background: transparent;
        color: inherit;
        cursor: pointer;
        font-family: inherit;
    }

    &.asLink {
        position: relative;
        display: inline-block;
        padding: 0;
        border: 0;
        appearance: none;
        background: transparent;
        color: var(--mm-primary, #a13dff);
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
    }

    &.withIcon {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        .label {
            margin-left: 0.5em;
            transform-origin: 0 50%;
        }

        .right {
            margin-left: 0.5em;
        }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    &.withIcon.withAnimations.icon-right {
        .label {
            transform-origin: 100% 50%;
        }
    }

    &.withIconColumns {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    &.linkDisabled {
        opacity: 0.4;
        pointer-events: none;
        text-decoration: none;
    }

    &:focus-visible {
        box-shadow: 0 0 2px 0 var(--micromag-focus-color, #fff);
        outline: 2px solid #000;
    }
}
