@import '../variables';
@import '../placeholders';
@import '../mixins';

.container {
    @extend %reset-button;

    display: flex !important;
    align-items: center;
    justify-content: center;

    width: 18px !important;
    height: 18px !important;
    padding: 0 10px !important;

    border-radius: 4px;
    background-color: $gray-700 !important;

    .icon {
        display: block;
    }
}
