.container {
    position: relative;
    display: inline-block;
    display: flex !important;
    width: 18px !important;
    height: 18px !important;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding: 0 10px !important;
    border: 0;
    border-radius: 4px;
    appearance: none;
    background: transparent;
    background-color: var(--mm-gray-700, #ddd) !important;
    color: inherit;
    cursor: pointer;
    font-family: inherit;

    .icon {
        display: block;
    }
}
