// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .conversation {
        padding-bottom: 20px;
    }

    .conversationHeader {
        width: 100%;
        padding-bottom: 16px;
        font-style: italic;
    }

    .empty {
        @extend %empty;
        // width: 100%;
        // height: 100px;
        // margin: 0 auto;
    }

    .title {
        padding-bottom: 16px;
    }
}

.messageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;

    .message {
        max-width: 80%;
        margin: 8px 0;
        padding: 10px;
        transition: border-radius 0.3s ease;
        background-color: #fff;
        word-break: break-all;

        &.nextTheSame {
            margin: 1px 0;
        }

        &.normalLeft {
            border-radius: 1px 15px 15px;
        }

        &.inBetweenLeft {
            border-radius: 1px 15px 15px 1px;
        }

        &.normalRight {
            border-radius: 15px 1px 15px 15px;
            background-color: rgb(88, 175, 255);
        }

        &.inBetweenRight {
            border-radius: 15px 1px 1px 15px;
            background-color: rgb(88, 175, 255);
        }

        &.last {
            margin: 1px 0 16px;
        }
    }

    .speakerDetails {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 10px;

        &.right {
            flex-direction: row-reverse;
        }
    }

    .avatarContainer {
        width: 30px;
        height: 30px;
        margin-right: 10px;

        &.right {
            margin-left: 10px;
        }
    }

    .avatar {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .imageContainer {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &.isView {
        .message {
            animation: 0.25s ease forwards appear;

            &.normalLeft {
                transform: translate(-300px, 50px);
            }

            &.inBetweenLeft {
                border-radius: 1px 15px 15px 1px;
            }

            &.normalRight {
                transform: translate(300px, 50px);
            }
        }
    }

    @keyframes appear {
        100% {
            transform: translate(0, 0) scale(1);
        }
    }

    .loadingContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .loading {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0 10px;
        padding: 7px 10px;
        border-radius: 10px;
        background: #fff;

        div {
            width: 5px;
            height: 5px;
            margin-right: 4px;
            animation: bounce 0.35s linear infinite alternate;
            border-radius: 50%;
            background: #000;

            &:nth-child(2) {
                animation-delay: 0.08s;
            }

            &:nth-child(3) {
                margin-right: 0;
                animation-delay: 0.16s;
            }
        }
    }

    @keyframes bounce {
        0% {
            transform: translateY(-2px);
            opacity: 0.5;
        }
        100% {
            transform: translateY(2px);
            opacity: 1;
        }
    }

    .loadingSpeakerName {
        margin: 0 5px;
        opacity: 0.6;
        font-size: 12px;
        font-style: italic;
    }

    &.right {
        justify-content: flex-end;

        .loadingContainer {
            flex-direction: row-reverse;
        }
    }
}
