.container {
    position: relative;
    display: inline-block;
    padding: 0;
    padding: 5px;
    border: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;

    .icon {
        display: block;
    }
}
