@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;
    overflow: hidden;

    .button {
        @extend %reset-button;
        @extend %fullscreen;

        display: inline-block;
    }

    .border {
        @extend %fullscreen;

        display: block;
    }

    .screen {
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 150%;
        pointer-events: none;

        .inner {
            @extend %fullscreen;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .icon {
            position: relative;
            flex-grow: 1;
            width: 100%;
        }

        .label {
            padding: 5px 0;
            font-size: 0.75rem;
            font-weight: bold;
        }
    }

    &.active {
        .border {
            z-index: 2;
            border: solid 3px $primary;
        }
    }
}
