// stylelint-disable max-nesting-depth
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    width: 100%;
    height: 100%;
    background-color: $gray-800;

    .iframe {
        display: block;
        width: 100%;
        height: 100%;
    }

    .top {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 5px;
    }

    .close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid $white;
        border-radius: 50%;
        background-color: $gray-800;
    }

    .icon {
        width: 1em;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
}
