@import '~@micromag/core/src/styles/placeholders';
@import '~@micromag/core/src/styles/variables';
@import '~@micromag/core/src/styles/mixins';

.container {
    @extend %fullscreen;
    color: $color-disabled;

    .inner {
        @extend %fullscreen;
        display: flex;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }

    .group {
        display: block;
        width: 100%;
    }

    .title,
    .subtitle,
    .description {
        display: block;
        width: 100%;
    }

    .background {
        @extend %fullscreen;
        z-index: 1;
    }

    &.center {
        text-align: center;

        .placeholder {
            @extend %placeholder-center;
        }
    }

    &.left {
        text-align: left;

        .placeholder {
            @extend %placeholder-left;
        }
    }

    &.right {
        text-align: right;

        .placeholder {
            @extend %placeholder-right;
        }
    }

    &.reverse {
        .inner {
            flex-direction: column-reverse;
        }
    }
}

@include match-story-screen('medium') {
    .middle {
        max-width: 30rem;
    }
}
