@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;    

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .empty {
        @extend %empty;
        width: 100%;
        height: 50px;
    }

    &.placeholder {
        .content {
            align-items: center;
        }
    }
}
