@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .empty {
        @extend %empty;
        width: 100%;
        height: 50px;
    }

    .title {
        &.withMargin {
            margin-bottom: 1em;
        }
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}
