@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    position: relative;

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .emptyTitle,
    .emptyInputName,
    .emptyInputMessage,
    .emptySubmit {
        margin-bottom: 10px;
        padding: 10px;
    }

    .emptyInputMessage {
        height: 100px;
    }

    .title {
        padding-bottom: 20px;
    }

    .content {
        @extend %fullscreen;
    }

    .interactiveContainer {
        transition-property: height;
        transition-timing-function: ease;
    }

    .form {
        position: relative;
    }

    .inputName,
    .inputMessage,
    .buttonSubmit {
        display: block;
        width: 100%;
        padding: 4px;
    }

    .inputName,
    .inputMessage {
        margin-bottom: 10px;

        &:disabled {
            background-color: $white;
        }
    }

    .inputMessage {
        height: 100px;
    }

    .buttonSubmit {
        border: 0;
        
        &:disabled {
            opacity: 1;
        }
    }

    .formContent {
        transition-property: opacity;
        transition-timing-function: ease;
    }

    .formLoading {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;

        transition: opacity 0.25s ease;
        animation: rotate 1s infinite linear;
        opacity: 0;
        pointer-events: none;

        .loadingIcon {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .contributionsContainer {
        position: relative;
        transition: opacity 0.25s ease;
        opacity: 0;
    }

    .contributionsContent {
        position: absolute;
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .contributions {
        position: relative;
        padding-top: 20px;
        border-top: 1px solid $white;
    }

    .contribution {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $white;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    &.submitting {
        .form {
            pointer-events: none;
        }

        .formContent {
            opacity: 0.4;
        }

        .formLoading {
            opacity: 1;
        }
    }

    &.submitted {
        .formContent {
            opacity: 0;
        }
    }

    &.showContributions {
        .form {
            display: none;
        }

        .contributionsContainer {
            opacity: 1;
        }

        .contributionsContent {
            position: relative;
            height: auto;
            overflow: visible;
        }
    }

    &.isPlaceholder {
        .content {
            padding: 10px;
        }
    }
}
