/* stylelint-disable selector-max-compound-selectors */
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    .wave {
        height: 200px;
    }

    .closedCaptions {
        min-height: 100px;
    }

    .controls {
        position: relative;
    }

    .playPauseButton,
    .muteButton {
        @extend %reset-button;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

    .playPauseButton {
        margin: 0 auto;
        border: 1px solid $white;
        border-radius: 50%;
        
        .icon {
            display: block;
            width: 40%;
            height: 40%;
        }
    }

    .muteButton {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;

        .icon {
            display: block;
            width: 90%;
            height: 90%;
        }

        &::after {
            content: '';
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 100%;
            margin-left: -1px;
            transform: rotate(-45deg);
            background-color: $white;
        }
    }

    &.muted {
        .muteButton {
            &::after {
                display: block;
            }
        }
    }
}
