@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;
    height: 100px;
    touch-action: pan-y;

    .canvasBackground,
    .canvasProgress,
    .button {
        @extend %fullscreen;
    }

    .button {
        @extend %reset-button;
    }
}
