@import '~@micromag/core/scss/variables';

.container {
    display: flex;
    flex-direction: column;

    .horizontal {
        display: flex;
        flex-direction: row;
    }

    &.fullscreen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
