@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    // visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;

    // &.active {
    //     visibility: visible;
    // }

    &.landscape,
    &.current {
        opacity: 1;
    }
}
