@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;
    height: 100%;
    pointer-events: none;

    &.current {
        pointer-events: auto;
    }
}
