@import url('@micromag/core/assets/css/theme.css');
@import url('@micromag/core');
@import url('@micromag/elements');
@import url('@micromag/screens');

/* stylelint-disable-next-line */
.sr-only:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
