@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    background-color: #f00;

    &.oui {
        background-color: #000;
    }

    &.non {
        background-color: #fff;
    }
}
