/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--mm-black, #000);
    color: var(--mm-white, #fff);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;

    & *,
    & *::before,
    & *::after {
        box-sizing: border-box;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & p,
    & ul,
    & ol,
    & dl,
    & li,
    & address,
    & blockquote,
    & pre,
    & figure,
    & caption,
    & label,
    & legend {
        padding: 0;
        margin: 0;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & p,
    & li {
        font-weight: inherit;
    }

    & mark,
    & .mark {
        color: inherit;
    }

    &.landscape {
        .screensFrame {
            top: 0;
            bottom: 0;
            left: 50%;
            margin: auto;
            transform: translate(-50%, 0);
        }
    }

    &.hideMenu {
        .menuNavContainer {
            opacity: 0;
            pointer-events: none;
        }

        .menuTopContainer,
        .dots {
            opacity: 0;
            pointer-events: none;
        }
    }

    &.disableMenu {
        .menuNavContainer {
            pointer-events: none;
        }

        .menuTopContainer,
        .dots {
            pointer-events: none;
        }
    }
}

.content {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: grab;
    touch-action: none;

    /* cursor: inherit; */
    user-select: none;

    &:active {
        cursor: grabbing;
    }

    .withoutGestures & {
        cursor: inherit;
    }
}

.ariaAnnouncement {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.accessibilityLinks {
    position: absolute;
    z-index: 2;

    /* header height */
    top: 60px;
    left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    background: rgb(0 0 0 / 0.75);
    cursor: pointer;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.2s var(--mm-ease-in-out-sine, 'ease-out');

    &:focus-visible,
    &:focus-within {
        opacity: 1;
    }

    .accessibilityLink {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: block;
        padding: 5px;
        background: rgb(0 0 0 / 0.75);
        color: var(--mm-white, #fff);
        opacity: 0;
        transform: translateY(100svh);

        &:focus-visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .accessibilityButton {
        padding: 4px;
        color: var(--mm-white, #fff);
        opacity: 0.75;
        transition: opacity 0.5s var(--mm-ease-in-out-sine, 'ease-out');

        &:hover,
        &:focus {
            opacity: 1;
        }

        &.disabled {
            opacity: 0.75;
        }
    }

    .tooltip {
        font-size: 0.85rem;
    }
}

/* Viewer Menu: Two buttons, the "menu dots", the menu overlays */
.menuNavContainer {
    position: absolute;
    z-index: 4;
    top: 0;
    width: 100%;
    contain: content;
    touch-action: none;
    transition:
        opacity 0.5s var(--mm-ease-in-out-sine, 'ease-out'),
        background-image 0.5s var(--mm-ease-in-out-sine, 'ease-out');

    /* if playing a media and the controls are "collapsed", fade the buttons, too */
    .fadeMenu & {
        opacity: 0.25;
    }

    &.withShadow {
        background-image: linear-gradient(rgb(0 0 0 / 0.75), rgb(0 0 0 / 0));

        .fadeMenu & {
            background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0));
        }
    }

    &.isOpened {
        opacity: 1; /* don't fade, even if video is playing in background */

        .dots {
            opacity: 0;
            pointer-events: none;
        }

        &.withShadow {
            background-image: linear-gradient(rgb(0 0 0 / 0.75), rgb(0 0 0 / 0));
        }
    }
}

.menuTopContainer {
    display: flex;
    align-items: center;
    transition: opacity 0.2s var(--mm-ease-in-out-sine, 'ease-out');
}

.menuItem {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-size: 8px;
    touch-action: none;

    &:last-child {
        justify-content: flex-end;
    }
}

.menuButton {
    padding: 8px 10px;
    font-size: 12px;

    &:focus-visible {
        outline: 2px solid var(--mm-focus-color, #fff) !important;
        outline-offset: -2px !important;
    }
}

.slidingButton {
    display: inline-block;
}

.screensMenuButtonToggled {
    right: 0;
    left: auto;
}

.dots {
    position: relative;
    z-index: 3;
    top: -5px;
    padding: 0 8px;
    transition: opacity 0.3s var(--mm-ease-out-ramp, 'ease-out');

    .hideMenu & {
        pointer-events: none;
    }
}

.menuContainer {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    contain: size layout style paint;
}

.menuShare,
.menuPreview {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    contain: size layout style paint;
}

/* Viewer Navigation: Left/Right icons on desktop */
.navButton {
    position: absolute;
    z-index: 3;
    top: 50%;
    border: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    transition: opacity 0.2s var(--mm-ease-in-out-sine, 'ease-out');

    &.previous {
        left: 1.5em;
    }

    &.next {
        right: 1.5em;
    }

    &:focus-visible {
        opacity: 1;
    }

    @media screen and (width >= 1024px) {
        display: block;
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }
}

.screensFrame {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.screenContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--mm-gray-800, #343434);
    contain: size layout style paint;

    &:focus-visible {
        outline: 2px solid var(--mm-focus-color, #fff);
        outline-offset: 2px;
    }
}

.screen {
    display: none;
    pointer-events: none;

    .preload & {
        display: block;
        contain-intrinsic-size: auto 100vw auto 100vh;
        content-visibility: visible;
    }

    .visible & {
        display: block;
        content-visibility: visible;
    }

    .current & {
        pointer-events: auto;
    }
}

/* Playback Controls for Video/Audio screen types */
.playbackControls {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

/* Animated Arrow that points to the next screen (to hint that user needs to click/tap/swipe to go to next screen) */
.navigationHint {
    position: absolute;
    z-index: 2;
    top: 70%;
    right: 5%;
}

/* Embedded webpage in iframe (article screen) */
.webView {
    z-index: 10;
}

/* Text bubble that appears below the Share button (on screens that have been configured to display it) */
.shareIncentiveContainer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 10px;
    width: calc(100% - 20px);
    pointer-events: none;
}

.shareIncentive {
    display: inline-block;
    opacity: 0;
    pointer-events: auto;
    transform: translateY(-10px);
    transition:
        opacity 0.3s cubic-bezier(0.9, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.9, 0, 0.2, 1);

    .shareIncentiveVisible & {
        opacity: 1;
        transform: translateY(0);
        transition:
            opacity 0.3s 0.5s cubic-bezier(0.25, 2, 0.2, 1),
            transform 0.3s 0.5s cubic-bezier(0.25, 2, 0.2, 1);
    }
}
