// stylelint-disable max-nesting-depth
// stylelint-disable no-descending-specificity

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %reset-viewer;

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $black;
    color: $white;

    .content {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        user-select: none;
    }

    .navButton {
        @extend %reset-button;
        display: none;
        visibility: hidden;
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        border: 0;

        &.previous {
            left: 0;
            transform: translateX(-100%);
        }

        &.next {
            right: 0;
            transform: translateX(100%);
        }

        @media screen and (min-width: 1024px) {
            display: block;
            visibility: visible;
        }
    }

    .menuDotsContainer {
        visibility: hidden;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 50%;
        width: 100%;
        transform: translateX(50%);
        touch-action: none;
    }

    .menuDots {
        position: relative;
        padding: 8px 10px;
        transition: opacity 0.25s ease;
    }

    .menuPreviewContainer {
        @extend %fullscreen;
        visibility: hidden;

        z-index: 3;
        top: -100%;
    }

    .menuPreview {
        @extend %fullscreen;

        left: 50%;
        transform: translateX(-50%);
    }

    .screen {
        @extend %fullscreen;
        @extend %focus-outline;

        display: flex;
        opacity: 0;

        &.current {
            opacity: 1;
        }
    }

    .screenInner {
        @extend %fullscreen;
    }

    .handTap {
        position: absolute;
        top: 50%;
        right: 10%;
    }

    &.landscape {
        .screen {
            top: 0;
            right: auto;
            bottom: 0;
            left: 50%;
            margin: auto;
            transform: translate(50vw, 0);
            opacity: 0.2;
            cursor: pointer;

            &:hover,
            &:focus-visible {
                opacity: 0.3;
            }

            &.visible {
                transform: translate(0, 0);
            }

            &.current {
                transform: translate(-50%, 0);
                opacity: 1;
                cursor: auto;
            }
        }

        &.withSiblings .screen {
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
    }

    .playbackControlsContainer {
        margin: 0 auto;
    }

    .playbackControls {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba($black, 0) 25%, rgba($black, 0.2));

        &.isCollapsed {
            pointer-events: none;
        }
    }

    .webView {
        z-index: 10;
    }

    &.hideMenu {
        .menuDotsContainer {
            pointer-events: none;
        }

        .menuDots {
            opacity: 0;
        }
    }

    &.ready {
        .menuDotsContainer,
        .menuPreviewContainer {
            visibility: visible;
        }
    }

    &.hasInteracted {
        .handTap {
            display: none;
        }
    }
}
