@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $black;

    .content {
        @extend %fullscreen;
        z-index: 1;
        overflow: hidden;
        user-select: none;
    }

    .menu {
        position: relative;
        z-index: 2;
        padding: 10px;
    }

    .menuPreviewContainer {
        @extend %fullscreen;
        z-index: 3;
        top: -100%;
    }

    .menuPreview {
        @extend %fullscreen;
    }

    .screen {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &.desktop {
        .content {
            overflow-y: auto;

            .screen {
                position: relative;
            }
        }
    }

    &.fullscreen {
        @extend %fullscreen;
    }
}
