@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .empty {
        @extend %empty;
        width: 100%;
        height: 50px;
        margin: 0 auto;
    }

    .quote {
        font-size: 2em;
        
        &.withMargin {
            margin-bottom: 1em;
        }
    }
}
