// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %screen;

    .emptyQuote,
    .emptyAuthor {
        @extend %empty;
        width: 100%;        
        margin: 10px auto;
    }

    .emptyQuote {
        height: 200px;
    }

    .emptyAuthor {
        height: 50px;
    }

    .quote {
        font-size: 2em;
        
        &.withMargin {
            margin-bottom: 1em;
        }
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}
