@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

.container {
    @extend %fullscreen;
    color: $gray-500;

    .grid,
    .box {
        width: 100%;
        height: 100%;
    }

    .figure {
        margin: 0;
    }

    .figure,
    .placeholderContainer {
        &.centered {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }

    .quote {
        display: inline;
    }

    .source {
        //
    }

    .caption {
        display: inline-block;
    }

    .blockquote {
        quotes: '«' '»' '\2018''\2019';
        margin: 0;

        &::before {
            content: open-quote;
            display: inline;
            padding: 0 5px;
        }

        &::after {
            content: close-quote;
            display: inline;
            padding: 0 5px;
        }
    }

    .placeholder {
        width: 100%;
    }

    .placeholderContainer {
        quotes: '«' '»' '\2018''\2019';
        display: inline-block;
        position: relative;

        width: 60%;
        margin: 0;
        padding: 0 15%;

        &::before {
            content: open-quote;
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            content: close-quote;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .placeholderInner {
        margin: 0 auto;
    }

    .splitPlaceholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        > * {
            max-width: 60%;
        }
    }

    &.center {
        text-align: center;

        .placeholder {
            @extend %placeholder-center;
        }
    }

    &.left {
        text-align: left;

        .placeholder {
            @extend %placeholder-left;
        }
    }

    &.right {
        text-align: right;

        .placeholder {
            @extend %placeholder-right;
        }
    }
}

@include match-story-screen('medium') {
    .middle {
        max-width: 30rem;
    }
}
