// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    position: relative;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    .closeButton {
        @extend %reset-button;
        position: absolute;
        z-index: 5;
        top: 5px;
        right: 5px;
        color: #222;
    }

    .gridContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px 20px 0;

        &.isPlaceholder {
            padding: 0;
        }
    }

    .signPlaceholder {
        width: 30px;
        height: 30px;
        margin: 1px;
        background-color: $gray-400;
    }

    .gridElement {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90px;
        height: 90px;
        margin-bottom: 5px;
        padding: 5px;
        transition: 0.2s all ease-in-out;
        border: 0;
        border-radius: 10px;
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));

        background-color: #1d3af2;

        &:hover {
            transform: scale(1.05);
        }
    }

    .thumbnail {
        max-height: 50px;
        padding-bottom: 4px;
    }

    .gridText {
        height: 20%;
    }

    .signName {
        width: 100%;
        margin-bottom: 4px;
        padding: 2px 5px 0;
        border-radius: 24px;
        background-color: #fffc00;
        box-shadow: 0 0 0 2px rgba(255, 250, 0, 0.6);
        color: #222;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 12px;
        font-weight: 700;
    }

    .date {
        color: #fffa00;
        font-family: 'Agrandir', sans-serif;
        font-size: 8px;
    }

    .backButton {
        position: absolute;
        z-index: 5;
        top: 8px;
        left: 0;
        height: 30px;
        padding-left: 16px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: #fff;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85), 0 0 4px (#010f66);
        color: #010f66;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
    }

    .close {
        width: 32px;
        height: 32px;
    }

    .arrow {
        display: inline-block;
        padding-right: 5px;
        padding-bottom: 2px;
        font-size: 20px;
        vertical-align: middle;
    }

    .backLabel {
        display: inline-block;
    }

    .modalContainer {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .author {
        width: fit-content;
        margin: 0 auto;
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));
        color: #0ff;
    }

    .collaborator {
        color: #0ff;
    }

    .authorBackground {
        background-color: #161719;
    }
}

// CSS TRANSITIONS
.gridContainer {
    &.enter {
        z-index: 1;
        transition: opacity 0.5s ease-out;
        opacity: 0;
    }

    &.enterActive {
        opacity: 1;
    }

    &.exit {
        z-index: 2;
        transition: opacity 0.8s ease-out;
        opacity: 1;
    }

    &.exitActive {
        opacity: 0;
    }
}

.modalContainer {
    &.enter {
        .signModal {
            z-index: 1;
            transform: scale(20%);
            transition: transform 0.5s ease-out;
        }
    }

    &.enterActive {
        .signModal {
            transform: scale(100%);
        }
    }

    &.exit {
        z-index: 2;
        transform: translateX(0);
        transition: transform 0.5s ease-out;

        .signModal {
            z-index: 2;
            transform: translateX(0);
            transition: all 0.5s ease-out;
            opacity: 1;
        }
    }

    &.exitActive {
        .signModal {
            transform: translateX(-100%);
        }
    }
}
