// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    position: relative;
    z-index: 4;

    .backButton {
        position: absolute;
        top: 7px;
        // left: -15px;
        left: 5px;
        // height: 36px;
        padding-left: 10%;
        border-radius: 25px;
        background-color: #fff;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85), 0 0 4px (#010f66);
        color: #010f66;
        font-family: 'Agrandir Tight', sans-serif;
        font-weight: 700;
    }

    .arrow {
        padding-right: 5px;
        font-size: 20px;
        vertical-align: middle;
    }

    .modalContainer {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 60px 18px 30px;
        margin-right: 18px;
        margin-left: 18px;
        padding: 10px;
        border-radius: 22px;
        background-color: #0ff;
        box-shadow: 0 0 4px (#010f66);
        color: #1d3af2;
    }

    .signName {
        padding: 7px auto 5px;
        font-family: 'Agrandir Tight', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
    }

    .wordContainer {
        margin-bottom: 5px;
        border: 1px solid #1d3af2;
        border-radius: 9px;
        text-transform: uppercase;
    }

    .wordTitle {
        padding: 3px;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 12px;
        font-weight: 500;
    }

    .word {
        font-family: 'Agrandir Narrow', sans-serif;
        font-size: 16px;
        font-weight: 700;
    }

    .description {
        padding-bottom: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 1.2;
    }

    .image {
        width: 85%;
        height: auto;
        margin: 0 auto;
    }
}
