// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    .emptyTitle,
    .emptyText {
        @extend %empty;
        width: 100%;
        margin: 10px auto;
    }

    .emptyTitle {
        height: 100px;
    }

    .emptyText {
        height: 50px;
    }

    .headerContainer {
        width: 300px;
    }

    .title {
        color: #0ff;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -1px;
        text-shadow: -3px -3px 0 #000f66;
        text-transform: uppercase;
        -webkit-text-stroke: 1px #000f66;
    }

    .titleImage {
        width: 100%;
        height: auto;
    }

    .titlePlaceholder {
        padding: 10px;
        background-color: $gray-800;
    }

    .description {
        margin-bottom: 8px;
        padding: 10px;
        color: #0ff;
        font-family: 'Agrandir Tight', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }

    .descriptionPlaceholder {
        padding: 10px;
        padding-bottom: 30px;
    }

    .author {
        width: fit-content;
        margin: 0 auto;
    }

    .button {
        padding: 10px 15px 7px;
        transition: all 0.2s ease-in-out;
        border-radius: 24px;
        background-color: #fffc00;
        box-shadow: 0 0 0 6px rgba(255, 250, 0, 0.6);

        .buttonLabel {
            color: #000;
            font-family: 'Agrandir Tight', sans-serif;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.05rem;
        }

        &:hover {
            transform: scale(1.02);
        }
    }

    .signsGrid {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}
