// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;
    touch-action: none;

    .background {
        @extend %fullscreen;
        z-index: 0;
    }

    .content {
        z-index: 1;
    }

    &.isPlaceholder {
        .layout {
            padding: 10px;
        }
    }
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.placeholderGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.placeholderItem {
    width: 1.5em;
    height: 1.5em;
    background-color: $gray-600;
}

.emptyTitle,
.emptyText {
    @extend %empty;
    width: 100%;
    margin: 10px auto;
}

.emptyTitle {
    height: 100px;
}

.emptyText {
    height: 50px;
}

.headerContainer {
    width: 280px;
}

.title {
    color: #0ff;
    font-family: 'Agrandir Tight', sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1px;
    text-shadow: -3px -3px 0 #000f66;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #000f66;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
}

.titleImage {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
}

.titlePlaceholder {
    padding: 10px;
    background-color: $gray-800;
}

.description {
    margin-bottom: 8px;
    padding: 10px;
    color: #0ff;
    font-family: 'Agrandir Tight', sans-serif;
    font-size: 18px;
    font-weight: 700;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));

    p,
    span {
        font-weight: 700 !important;
    }
}

.descriptionPlaceholder {
    padding: 10px;
    padding-bottom: 30px;
}

.button {
    padding: 8px 15px 4px;
    transition: box-shadow 0.2s $ease-in-kickback;
    border-radius: 24px;
    background-color: #fffc00;
    box-shadow: 0 0 0 6px rgba(255, 250, 0, 0.6);

    &:hover {
        box-shadow: 0 0 0 12px rgba(255, 250, 0, 0.6);
    }

    &:active {
        box-shadow: 0 0 0 3px rgba(255, 250, 0, 0.3);
    }
}

.buttonLabel {
    color: #000;
    font-family: 'Agrandir Tight', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.03rem;
}

.header {
    display: flex;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 0, 0));
}

.buttons {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;
}

.close {
    @extend %reset-button;
    @extend %focus-outline;

    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
}

.signsGridContainer {
    @extend %fullscreen;

    touch-action: none;
    z-index: 3;
    padding: 2.5rem 1rem;

    &.isPlaceholder {
        padding: 0;
    }
}

.signs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.author {
    width: fit-content;
    margin: 5px auto 0;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));
    color: #0ff;
}

.collaborator {
    color: #0ff;
}

.authorBackground {
    background-color: #161719 !important;

    p {
        // @todo: makes sure it's not getting overwritten by other styles when pushed to production
        font-weight: normal !important;
        text-transform: none !important;
    }
}

.modal {
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.backdrop {
    @extend %fullscreen;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
}

.backdropVideo {
    pointer-events: none;
}
