@import '~@micromag/core/scss/variables';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 20px;
    line-height: 1;

    &.small {
        width: 20px;
        height: 20px;
    }

    &.square {
        border-radius: 0;
    }

    &.inverted {
        border: 1px solid $black;
    }

    .letter {
        display: inline-block;
        margin: 0;
        padding: 0;
        color: $white;
        mix-blend-mode: difference;
        line-height: 1;
    }
}
