@import '~@micromag/core/scss/variables';

.container {
    position: relative;

    .inner {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }

    .item {
        position: relative;
        margin-left: -10px;
    }

    .plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        border-radius: 20px;
        line-height: 1;
    }
}
