// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .empty {
        @extend %empty;
        height: 100%;
    }

    .content {
        @extend %fullscreen;
        overflow: hidden;
    }

    .mediaControls {
        padding: 10px 20px;
    }
    
    .placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }   

    .videoContainer {
        position: absolute;
    }

    .bottomContent {
        position: absolute;
        bottom: 0;
        width: 100%;        
    }    

    &.fullscreen {
        .video,
        .placeholder {
            @extend %fullscreen;
        }
    }
}
