// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %screen;

    .emptyContainer {
        @extend %fullscreen;

        top: 50%;
        height: 0;
        padding-bottom: 56.25%;
        transform: translateY(-50%);
    }

    .empty {
        @extend %empty;
        @extend %fullscreen;

        margin: 0;
    }

    .content {
        @extend %fullscreen;

        overflow: hidden;
    }

    .callToAction {
        padding-bottom: 5px;
    }

    .bottom {
        transition: opacity 0.15s linear;

        &.withGradient {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        }
    }

    .controls {
        position: relative;
    }

    .mediaControls {
        position: relative;
        z-index: 1;
        padding: 10px 20px 20px;
        transition: z-index 0.15s linear, opacity 0.15s linear;
        opacity: 0;

        &.visible {
            z-index: 3;
            opacity: 1;
        }
    }

    .showControlsButton {
        @extend %reset-button;
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        opacity: 0;
        background-color: transparent;
    }

    .unmuteAndPlayButton {
        @extend %reset-button;
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        opacity: 0;
        background-color: transparent;
    }

    .placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .videoContainer {
        position: absolute;
    }

    .bottomContent {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translate3d(0, 0, 0);
        transition: transform 0.2s ease-out;
    }

    &.fullscreen {
        .image,
        .video,
        .placeholder {
            @extend %fullscreen;
        }

        .emptyContainer {
            top: 0;
            height: 100%;
            padding-bottom: 0;
            transform: none;
        }
    }
}

.bottomSeekBar {
    transition: transform 0.5s 0.5s ease-out;

    &.isHidden {
        transform: translateY(100%);
        transition: transform 0.2s ease-out;
    }
}
