@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %fullscreen;
    z-index: 3;
    top: 0;
    color: $white;
}

.heightContainer {
    overflow: hidden;
}

.inner {
    position: relative;
    z-index: 2;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.backdrop {
    @extend %fullscreen;

    z-index: 1;
    backdrop-filter: blur(0.75rem);
    background-color: rgba($black, 0.75);
}
