// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));

    .items,
    .item {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    .item {
        flex: 1 1 0;
        // max-width: 20px;

        .button {
            @extend %reset-button;
            display: block;
            width: 100%;
            padding: 10px 2px;
        }

        .dot {
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 2px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .menu {
        display: flex;
        position: relative;
        box-sizing: content-box;
        flex-wrap: wrap;
        width: 16px;
        height: 16px;
        padding-left: 10px;
    }

    .menuIcon {
        display: block;
        height: 100%;
    }

    .menuButton {
        @extend %fullscreen;
        @extend %reset-button;
    }

    &.vertical {
        flex-direction: column;
        background: transparent;

        .items {
            flex-direction: column;
            width: auto;
            height: 100%;
        }

        .item {
            // max-width: none;
            // max-height: 20px;

            .button {
                width: auto;
                height: 100%;
                padding: 2px 10px;
            }

            .dot {
                width: 2px;
                height: 100%;
            }
        }

        .menu {
            position: absolute;
            top: 10px;
            right: 10px;
            padding-left: 0;
        }
    }

    &.landscape {
        background: none;
    }
}
