.container {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    touch-action: none;

    &.disabled {
        .screenButton {
            pointer-events: none;
        }
    }
}

.content {
    position: relative;
    height: 100%;
    max-height: 100%;
    flex-grow: 1;
}

.scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scrollee {
    position: relative;
    width: 100%;
    min-height: 100svh;
}

.buttons {
    position: relative;
    z-index: 3;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.organisation {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon {
    display: block;
    width: 1rem;
    height: auto;
}

.titleContainer {
    width: 100%;
    padding: 10px 80px;
    text-align: center;
}

.headerContainer {
    position: relative;
    width: 100%;
}

.badge {
    display: inline-block;
    border-color: #fff;
    margin: 0 auto 10px;
    color: #fff;
}

.title {
    display: inline-block;
    max-width: 500px;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: center;
}

.nav {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    padding: 10px;
}

.items,
.item {
    padding: 0;
    margin: 0;
    list-style: none;
}

.items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.75rem !important;
}

.item {
    position: relative;
    width: 33.333%;
}

.inner {
    padding: 2px;
}

.frame {
    width: 100%;
    height: 0;
    border-radius: 0.45rem;
    background-color: var(--mm-gray-800, #343434);
}

.screen {
    border-radius: 0.45rem;
    animation: intro 1s 50ms 1 forwards var(--mm-ease-in-out-sine, 'ease-out');
    box-shadow: 0 0 2px var(--mm-black, #000);
    content-visibility: auto;
    opacity: 0;
}

.micromagBrandingSeparator {
    width: 100%;
    height: 65px;
}

.micromagBrandingContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

@keyframes intro {
    to {
        opacity: 1;
    }
}
