// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    position: relative;

    .items,
    .item {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    .closeButton {
        @extend %reset-button;
        @extend %focus-outline;

        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 26px;
    }

    &.vertical {
        flex-direction: column;
        background: transparent;

        .items {
            flex-direction: column;
            width: auto;
            height: 100%;
        }
    }
}
