@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    color: $white;
}

.heightContainer {
    @extend %fullscreen;
    z-index: 2;
    overflow: hidden;
}

.backdrop {
    @extend %fullscreen;

    z-index: 1;
    backdrop-filter: blur(0.75rem);
    background-color: rgba($black, 0.75);
}
