// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    
    background-color: #000;
    color: #fff;

    .screenButton {
        @extend %reset-button;
        @extend %fullscreen;
        display: block;
    }

    &.disabled {
        .screenButton {
            pointer-events: none;
        }
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .button {
            width: 20px;
            margin-left: 20px;
            padding: 0;
            color: inherit;

            &:first-child {
                margin-left: 0;
            }
        }

        .icon {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .organisation {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .title {
        margin-right: auto;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;        
    }

    .content {
        position: relative;
        flex-grow: 1;
    }    

    .scroll {
        @extend %fullscreen;
    }
    
    .nav {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
    }
    
    .items,
    .item {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .items {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin: -2px;
    }
    
    .item {
        position: relative;
        height: 0;

        &.active {
            .screenButton {
                pointer-events: none;
            }
        }
    }

    .itemContent {
        @extend %fullscreen;
        padding: 2px;
    }

    .screenContainer {
        position: relative;
        height: 100%;
    }

    .activeScreenBorder {
        @extend %fullscreen;
        box-shadow: inset 0 0 0 4px $black;

        &::after {
            @extend %fullscreen;
            content: '';
            display: block;
            box-shadow: inset 0 0 0 2px $white;
        }
    }

    .screenContent {
        transform-origin: left top;
        background-color: $gray-900;
    }
}
