// stylelint-disable max-nesting-depth

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    flex: 1 1 0;

    &:last-child {
        margin-right: 0;
    }

    &.vertical {
        .button {
            width: auto;
            height: 100%;
            padding: 2px 10px;
        }

        .dot {
            width: 2px;
            height: 100%;
        }
    }
}

.button {
    @extend %reset-button;

    display: block;
    width: 100%;
    padding: 0.25rem 2px 1rem;

    @media (hover: hover) {
        &:hover {
            .dot {
                transform: scaleY(4);
                background-color: $white !important;
            }
        }
    }

    &:active {
        .dot {
            transform: scaleY(6);
        }
    }
}

.dot {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    transform-origin: 50% 0;
    transition: transform 0.3s $ease-in-bump;
    background-color: rgba($white, 0.15);
}

.progress {
    @extend %fullscreen;
    transform-origin: 0 50%;
}

.subDot {
    display: block;
    position: relative;
    border-radius: 0;

    &::after {
        content: '';
        position: absolute;
        left: 100%;
        width: 1px;
        height: 100%;
        background-color: inherit;
    }

    // &:first-child {
    //     border-top-left-radius: 2px;
    //     border-bottom-left-radius: 2px;
    // }

    // &:last-child {
    //     border-top-right-radius: 2px;
    //     border-bottom-right-radius: 2px;

    //     &::after {
    //         left: 0;
    //         width: 0;
    //         background-color: transparent;
    //     }
    // }
}

.dots {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

@keyframes outlineBounce {
    to {
        transform: scaleY(4);
    }
}
