@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %fullscreen;
    z-index: 3;
    top: 0;
    color: $white;
}

.heightContainer {
    backdrop-filter: blur(0.75rem);
    background-color: rgba($black, 0.95);
}

.inner {
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
