@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    touch-action: none;

    &.disabled {
        .screenButton {
            pointer-events: none;
        }
    }
}

.buttons {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.organisation {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon {
    display: block;
    width: 1rem;
    height: auto;
}

.title {
    margin-right: auto;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

.content {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.scroll {
    height: 100%;
}

.nav {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: 3rem;
}

.items,
.item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.items {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.item {
    position: relative;
    width: 33.333%;
}

.screen {
    padding: 2px;
}

.loading {
    width: 100%;
    height: auto;
    animation: fillPulse 1s infinite alternate-reverse $ease-in-out-soft-sine;
}

@keyframes fillPulse {
    from {
        fill: rgba($white, 0.1);
    }
    to {
        fill: rgba($white, 0.15);
    }
}
