@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    background-color: $black;

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .content {
        @extend %hide-scrollbars;
        overflow: auto;
    }
    
    .title {
        margin-right: auto;
    }
    
    .share {
        margin-right: 10px;
    }
    
    /*
    .close {
    
    }
    */
    
    .nav {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
    }
    
    .items,
    .item {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .items {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        margin: -10px;
    }
    
    .item {
        position: relative;
        width: 20%;
        height: 0;
        margin: 10px;

        .screenContainer {
            @extend %fullscreen;
            transform: scale(0.2);
            transform-origin: left top;
            background-color: $gray-900;
        }
    
        .button {
            @extend %reset-button;
            @extend %fullscreen;
            display: block;
        }
    }
}
