.container {
    display: flex;    
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &.withScroll {
        overflow-y: scroll;
    }

    &.top {
        .inner {
            margin-top: auto;
        }
    }

    &.center {
        .inner {
            margin: auto 0;
        }
    }

    &.bottom {
        .inner {
            margin-bottom: auto;
        }
    }
}
