@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';

%field-with-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    white-space: nowrap;

    > * {
        display: block;
        margin-right: $spacer / 2;

        &:last-child {
            margin-right: 0;
        }
    }

    .noValue {
        overflow: hidden;
        color: $gray-400;
        text-overflow: ellipsis;
    }

    .value {
        overflow: hidden;
        font-family: $font-family-monospace;
        font-size: 0.75rem;
        text-overflow: ellipsis;
    }
}
