@import '~@micromag/core/scss/variables';

.icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30px;

    div {
        width: 8px;
        height: 8px;
        margin-right: 2px;
        margin-bottom: 2px;
        background-color: $white;
        mix-blend-mode: difference;
    }

    &.left {
        justify-content: flex-start;
    }

    &.middle {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }
}