.icon {
    display: flex;
    width: 2em;
    flex-wrap: wrap;
    align-items: center;

    > div {
        width: calc(2em / 3 - 2px);
        height: calc(2em / 3 - 2px);
        margin-right: 2px;
        margin-bottom: 2px;
        background-color: currentcolor;
    }

    &.left {
        justify-content: flex-start;
    }

    &.middle {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }
}
