@import '~@micromag/core/scss/variables';

.container {
    .input {
        //
    }

    .list {
        position: absolute;
        z-index: 1;
        width: 300px;
        max-height: 150px;
        margin-top: 5px;
        overflow-y: scroll;
        background-color: $light;
    }

    .item {
        padding: 5px 10px;
    }
}
