/* stylelint-disable max-nesting-depth */
.container {
    .field {
        display: none;

        &:first-child {
            display: block;
            margin-bottom: 0 !important;

            button {
                display: block;
                margin-left: auto;
            }
        }
    }

    &.active {
        .field {
            display: block;

            &:first-child {
                margin-bottom: 1rem !important;
            }
        }
    }
}
