.container {
    width: 100%;
}

.button {
    width: 40px;
    height: 60px;
    flex: none !important; /* stupid old bootstrap override I never catch before it's live... */
    padding: 4px !important;
}

.layout {
    position: relative;
    width: 100%;
}
