@import '~@micromag/core/scss/variables';

.container {
    width: 100%;
}

.button {
    flex: none !important; // stupid old bootstrap override I never catch before it's live...
    width: 40px;
    height: 60px;
    padding: 4px !important;
}

.layout {
    position: relative;
    width: 100%;
}
