/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, no-descending-specificity */

.preview {
    display: block;
    border: solid 1px var(--bs-black, #000);
    background: repeating-conic-gradient(#808080 0 25%, #0000 0 50%) 50% / 1.5em 1.5em;

    .color {
        display: block;
        width: 1.5em;
        height: 1.5em;
    }
}
