@use 'sass:math';
@import '~@micromag/core/scss/variables';

.container {
    /* stylelint-disable selector-class-pattern */
    :global {
        .form-group {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    /* stylelint-enable selector-class-pattern */

    .field {
        margin-bottom: $spacer;

        &.isSection {
            margin-bottom: $spacer * 2;
        }

        &.isList {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .advanced {
        margin-top: $spacer * 2;
    }

    &.withBorders {
        .fields {
            border-bottom: solid 1px $border-color;
        }

        .field {
            margin-bottom: 0;
            border-top: solid 1px $border-color;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .fieldRow {
            padding-top: math.div($spacer, 2);
            padding-bottom: math.div($spacer, 2);
        }
    }
}
