/* stylelint-disable selector-class-pattern */
@import '~@micromag/core/scss/variables';

@mixin label {
    > .label,
    > :global(.form-row) > .label {
        @content;
    }
}

.container {
    margin: 0;

    .label {
        padding-top: 0;
    }

    &.isSection {
        @include label {
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    &.isHorizontal {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;

        @include label {
            max-width: 7em;
            padding-top: 0;
            padding-bottom: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .field {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
        }

        > :global(.col-auto),
        > :global(.col) {
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}
