.container {
    /* stylelint-disable selector-class-pattern */
    :global {
        .form-group {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    /* stylelint-enable selector-class-pattern */

    .field {
        margin-bottom: var(--mm-spacer);

        &.isSection {
            margin-bottom: calc(var(--mm-spacer) * 2);
        }

        &.isList {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .advanced {
        margin-top: calc(var(--mm-spacer) * 2);
    }

    &.withBorders {
        .fields {
            border-bottom: solid 1px var(--mm-border-color);
        }

        .field {
            margin-bottom: 0;
            border-top: solid 1px var(--mm-border-color);

            &:last-child {
                margin-bottom: 0;
            }
        }

        .fieldRow {
            padding-top: calc(var(--mm-spacer) / 2);
            padding-bottom: calc(var(--mm-spacer) / 2);
        }
    }
}
