@import '~@micromag/core/scss/variables';
@import './placeholders';

.resetButton {
    appearance: none;
    border: 0;
    background: transparent;
}

.colLabel {
    flex-shrink: 1;
    text-align: left;
}

.colValue {

    margin-left: auto;
    white-space: nowrap;
}

.colButtonWidth {
    width: 80%;
}

.colMinWidth {
    min-width: 0;
}

.settingsButton {
    &[disabled] {
        opacity: 0.25;
        pointer-events: none;
    }
}
