@import '~@micromag/core/scss/variables';
@import './placeholders';

.thumbnail {
    display: block;
    width: auto;
    height: 1.5em;
    margin: 0;
}

.label {
    min-width: 0;
}

.clearButton {
    position: relative;
    z-index: 1;
    margin-right: 16px;
    margin-left: 0;
}
