.frame {
    width: 100%;
    min-width: 20px;
    max-width: 50px;
    border: solid 1px currentcolor;

    .media {
        width: 100%;
        height: 30px;
        background: currentcolor;
    }

    &.cover {
        .media {
            height: 100%;
        }
    }

    &.fill {
        .media {
            height: 100%;
        }
    }
}
