@import '~@micromag/core/scss/variables';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 0.85rem;
    white-space: nowrap;

    > * {
        display: block;
        margin-right: $spacer / 2;
        line-height: 1;

        &:last-child {
            margin-right: 0;
        }
    }

    .name {
        flex-grow: 1;
        font-family: $font-family-monospace;
        text-align: right;
    }

    .noValue {
        color: $gray-400;
    }

    .thumbnail {
        display: block;
        width: auto;
        height: 2em;
    }
}
