@import '~@micromag/core/src/styles/variables';

.container {
    display: block;
    width: 100%;
    font-size: 0.85rem;
    white-space: nowrap;

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        white-space: nowrap;

        > * {
            display: block;
            margin-right: $spacer / 2;
            line-height: 1;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .name {
        flex-grow: 1;
        font-family: $font-family-monospace;
        text-align: right;
    }

    .noValue {
        flex-grow: 1;
        color: $gray-400;
        text-align: left;
    }

    .thumbnail {
        display: block;
        width: auto;
        height: 2em;
    }

    &.withBorders {
        .button {
            padding-top: $spacer / 2;
            padding-bottom: $spacer / 2;
            border-top: solid 1px $border-color;
            border-bottom: solid 1px $border-color;
        }
    }

    &.isHorizontal {
        .button {
            justify-content: flex-end;
        }

        .noValue {
            flex-grow: 0;
            text-align: right;
        }
    }
}
