.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    .icon {
        margin-right: calc(var(--mm-spacer, 5px) / 4);
    }

    .slider {
        flex-grow: 1;
    }
}
