@use 'sass:math';
@import '~@micromag/core/scss/variables';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .icon {
        margin-right: math.div($spacer, 4);
    }

    .slider {
        flex-grow: 1;
    }
}
