.container {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.dialog {
    @media screen and (width >= 768px) {
        width: 1200px !important;
        max-width: 90vw !important;
    }
}

.thumbnail {
    display: inline-block;
    width: auto;
    height: 1.3em;
    margin: 0;
}

.dialogBody {
    padding-top: 0 !important;

    > div {
        overflow: hidden;
        min-height: 75vh;
        overflow-y: scroll;
    }
}

.previewButton {
    position: relative;
    display: inline-block;
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;

    &.shaded {
        border-radius: 4px;
        background-color: var(--mm-gray-700, #494949);
    }

    &.small {
        width: 180px;
    }
}

.clearButton {
    position: relative;
    z-index: 1;
    display: inline-block;
    display: flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding: 0 10px;
    border: 0;
    border-radius: 4px;
    margin-left: 10px;
    appearance: none;
    background: transparent;
    background-color: var(--mm-gray-700, #494949);
    color: inherit;
    cursor: pointer;
    font-family: inherit;

    svg {
        display: block;
    }
}

.preview {
    overflow: hidden;
    height: calc(1.4em + 1rem);
    border-radius: var(--mm-input-border-radius);
    border-bottom: 0.4em solid var(--mm-input-bg);
    pointer-events: none;
}
