@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.dialog {
    // @media screen and (min-width: 768px) {
    //     min-width: 90vw !important;
    // }
}

.thumbnail {
    display: inline-block;
    width: auto;
    height: 1.3em;
    margin: 0;
    margin-left: 0.5em;
}

.dialogBody {
    padding-top: 0 !important;

    > div {
        min-height: 75vh;
        overflow: hidden;
        overflow-y: scroll;
    }
}

.previewButton {
    @extend %reset-button;
    // width: 100%;
    background-color: transparent;

    &.shaded {
        border-radius: 4px;
        background-color: $gray-700;
    }

    &.small {
        width: 180px;
    }
}

.clearButton {
    @extend %reset-button;

    display: flex;

    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;
    margin-left: 10px;
    padding: 0 10px;
    border-radius: 4px;
    background-color: $gray-700;

    svg {
        display: block;
    }
}

.preview {
    height: calc(1.4em + 1rem);
    overflow: hidden;
    border-bottom: 0.4em solid $input-bg;
    border-radius: $input-border-radius;
    pointer-events: none;
}
