.container {
    scrollbar-width: none;

    &::-webkit-scrollbar {
    display: none;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid var(--mm-gray-500);

    .button {
        border: 0;
        border-radius: 0 !important;
    }
}

.rotateLeft {
    transform: rotate(-45deg);
    transform-origin: center;
}

.rotateRight {
    transform: rotate(45deg);
    transform-origin: center;
}
