@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/variables';

.container {
    @extend %hide-scrollbars;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid $gray-500;

    .button {
        border: 0;
        border-radius: 0 !important;
    }
}

.rotateLeft {
    transform: rotate(-45deg);
    transform-origin: center;
}

.rotateRight {
    transform: rotate(45deg);
    transform-origin: center;
}
