.container {
    display: flex !important;
    overflow: auto;
    flex-flow: row nowrap;
    scrollbar-width: none;

    &::-webkit-scrollbar {
    display: none;
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 2.5em; */

    /* height: 2.5em; */

    /* padding: 0; */
}
