@import '~@micromag/core/scss/variables';

.container {
    width: 100%;
}

.button {
    flex: none !important;
    color: #ccc;

    &.active {
        color: $black;
    }
}

.type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1.5em;
    height: 1.5em;
}
