.container {
    :global {
        .rc-slider-disabled {
            --bs-primary: var(--bs-secondary-color);

            background-color: transparent;
            opacity: 0.5;
        }

        .rc-slider-rail {
            background-color: var(--bs-body-color);
        }

        .rc-slider-track {
            background-color: var(--bs-primary);
        }

        .rc-slider-mark-text {
            color: var(--bs-secondary-color);
        }

        .rc-slider-dot {
            background-color: var(--bs-body-color);
        }

        .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
            border-color: var(--bs-focus-ring-color);
            box-shadow: 0 0 0 5px var(--bs-focus-ring-color);
        }

        .rc-slider-dot-active {
            border-color: var(--bs-focus-ring-color);
        }

        .rc-slider-handle {
            border-color: var(--bs-primary);
            background: var(--bs-body-color);
        }
    }
}
