.dialog {
    width: 100vw !important;
    padding: 0.5rem;
    font-size: 1rem;

    .selected {
        background-color: var(--mm-primary, #a13dff);
    }

    .editor {
        position: relaive;
        max-height: 100%;

        > div {
            min-width: 100%;
            min-height: 100%;
        }

        :global {
            .ck {
                &.ck-editor__main {
                    min-height: 100%;
                }

                &.ck-editor__editable {
                    /* min-height: 100%; */
                    min-height: 260px;
                }
            }
        }
    }

    @media screen and (width >= 768px) {
        width: 50vw !important;
    }
}

.dialogBody {
    > div {
        overflow: hidden;
        height: 50vh;
        overflow-y: scroll;
    }
}

.previewButton {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}

.preview {
    overflow: hidden;
    height: calc(1.4em + 1rem);
    border-radius: var(--mm-input-border-radius);
    border-bottom: 0.4em solid var(--mm-input-bg);
    pointer-events: none;
}

.editor {
    --ck-color-base-background: #2b2b2b;

    :global {
        .ck {
            &.ck-editor__editable {
                &:not(.ck-editor__nested-editable) {
                    border: 0;

                    &.ck-focused {
                        border: 0;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
}
