/* stylelint-disable max-nesting-depth, selector-max-compound-selectors, no-descending-specificity */
@use 'sass:math';
@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/mixins';
@import 'placeholders';

$scale: 4;

.preview {
    display: block;
    position: relative;
    width: 100px;
    height: 1em;
    overflow: hidden;

    .text {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        white-space: nowrap;
    }
}
