@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.dialog {
    width: 100vw !important;
    padding: 0.5rem;
    font-size: 1rem;

    .selected {
        background-color: $primary;
    }

    .editor {
        max-height: 100%;

        > div {
            min-height: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        width: 50vw !important;
    }
}

.dialogBody {
    > div {
        height: 50vh;
        overflow: hidden;
        overflow-y: scroll;
    }
}

.previewButton {
    @extend %reset-button;
    width: 100%;
    background-color: transparent;
}

.preview {
    height: calc(1.4em + 1rem);
    overflow: hidden;
    border-bottom: 0.4em solid $input-bg;
    border-radius: $input-border-radius;
    pointer-events: none;
}

.editor {
    --ck-color-base-background: #2B2B2B;

    :global {
        .ck {
            &.ck-editor__editable {
                &:not(.ck-editor__nested-editable) {
                    border: 0;

                    &.ck-focused {
                        border: 0;
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
