.previewButton {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;

    &:disabled {
        cursor: not-allowed;
    }
}

.editor {
    :global(.ck-content) {
        width: 90vw;
        max-width: 900px;
        height: 70vh;
    }
}
