/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */

.container {
    .question {
        margin-bottom: 10px;
    }

    .index {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }

    .resultContent {
        padding: 20px 0;
    }

    .result {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
        transition-delay: 0.3s;
    }

    .emptyQuestion,
    .emptyResult {
        width: 100%;
        border: dashed 2px var(--mm-gray-800);
        margin: 0 auto;
        color: var(--mm-gray-800);
    }

    .emptyQuestion {
        height: 60px;
        margin-bottom: 10px;
    }

    .emptyResult {
        height: 100px;
    }

    &.resultVisible {
        .result {
            position: relative;
            opacity: 1;
            pointer-events: all;
        }
    }

    &.resultHidden {
        .result {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            .resultContent {
                padding: 0;
            }
        }
    }

    &.isPlaceholder {
        padding: var(--mm-screen-placeholder-padding, 1.5em);

        .index {
            color: rgb(255 255 255 / 0.6);
            font-size: 8px;
        }
    }
}
