// stylelint-disable max-nesting-depth
// stylelint-disable no-descending-specificity

@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';
@import '~@micromag/core/scss/mixins';

.container {
    .question {
        margin-bottom: 10px;
    }

    .index {
        display: block;
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }

    .result {
        position: absolute;
        transition: opacity 0.5s ease;
        transition-delay: 0.3s;
        opacity: 0;
        pointer-events: none;
    }

    .resultContent {
        padding: 20px 0;
    }

    .emptyQuestion,
    .emptyResult {
        @extend %empty;
        width: 100%;
        margin: 0 auto;
    }

    .emptyQuestion {
        height: 60px;
        margin-bottom: 10px;
    }

    .emptyResult {
        height: 100px;
    }

    &.resultVisible {
        .result {
            position: relative;
            opacity: 1;
            pointer-events: all;
        }
    }

    &.isPlaceholder {
        padding: 10px;

        .index {
            color: rgba($white, 0.6);
            mix-blend-mode: difference;
            font-size: 8px;
        }
    }
}
