/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */

.container {
    .title {
        margin-bottom: 10px;
    }

    .emptyTitle,
    .emptyDescription {
        width: 100%;
        border: dashed 2px var(--mm-gray-800);
        margin: 0 auto;
        color: var(--mm-gray-800);
    }

    .emptyTitle {
        height: 60px;
    }

    .emptyDescription {
        height: 100px;
    }

    &.isPlaceholder {
        padding: var(--mm-screen-placeholder-padding, 1.5em);
    }
}
