/* stylelint-disable max-nesting-depth */

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content {
        z-index: 1;
    }

    .emptyContainer {
        /* top: 50%; */

        /* height: 0; */

        /* padding-bottom: 56.25%; */

        /* transform: translateY(-50%); */
    }

    .empty {
        width: 100%;
        height: 50px;
        border: dashed 2px var(--mm-gray-800);
        margin: 10px auto;
        color: var(--mm-gray-800);
    }

    .itemsContainer {
        display: flex;
        min-width: 80%;
        flex-direction: column;
    }

    .coinnerntent {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .videoContainer {
        position: relative;
        overflow: hidden;
    }

    .video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .isCustomBackground {
        transform-origin: center;
    }

    .isAnimated {
        animation: spin 9000ms linear 0ms infinite;
        transform: scale(3);
    }

    @keyframes spin {
        from {
            transform: scale(3) rotate(0deg);
        }

        to {
            transform: scale(3) rotate(360deg);
        }
    }

    .heading {
        width: 320px;
        padding: 16px 5px 10px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background-color: #fff800;
        color: #000;
        font-family: 'Agrandir Wide', sans-serif;
        font-size: 26px;
        font-weight: 800;
        text-align: center;
        text-shadow: -2px -2px 0 #fff;
        text-transform: uppercase;

        &.hideHeading {
            display: none;
        }
    }

    .callToAction {
        padding-bottom: 5px;
    }

    .bottom {
        opacity: 0;
        transition: opacity 0.15s linear;

        &.visible {
            opacity: 1;
        }

        &.withGradient {
            background: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.4));
        }
    }

    .mediaControls {
        padding: 10px 20px 20px;
    }

    .placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        mix-blend-mode: normal;
    }

    .videoPlaceholder {
        background-color: var(--mm-gray-500);
        mix-blend-mode: normal;
    }

    .bottomContent {
        position: absolute;
        bottom: 0;
        width: 100%;
        transition: transform 0.2s ease-out;
    }

    &.fullscreen {
        .image,
        .placeholder {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .emptyContainer {
            top: 0;
            height: 100%;
            padding-bottom: 0;
            transform: none;
        }
    }
}
