@import '~@micromag/core/scss/variables';
@import '~@micromag/core/scss/placeholders';

.container {
    @extend %fullscreen;
    z-index: 0;
    overflow: hidden;

    background-color: rgba(#000, 0.25);

    .videoContainer,
    .video {
        @extend %fullscreen;
    }
}
